---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1412000400,
          "id": "cus_4rod2FRoGD5dNg",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4rod2FRoGD5dNg/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4rod2FRoGD5dNg/cards",
            "data": [
              {
                "id": "card_14i50O2nHroS7mLXkh3LHQDz",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4rod2FRoGD5dNg",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14i50O2nHroS7mLXkh3LHQDz"
        }
  recorded_at: Mon, 29 Sep 2014 14:20:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "created": 1410521489,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 65,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Mon, 29 Sep 2014 14:20:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 29 Sep 2014 14:20:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4rod2FRoGD5dNg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4rod2FRoGD5dNg&amount=315&currency=usd&description=VAT%20(21%25)&metadata[type]=vat&metadata[amount]=315&metadata[rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14i50S2nHroS7mLXW561xARi",
          "date": 1412000404,
          "amount": 315,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4rod2FRoGD5dNg",
          "description": "VAT (21%)",
          "metadata": {
            "type": "vat",
            "amount": "315",
            "rate": "21"
          },
          "invoice": null,
          "subscription": null
        }
  recorded_at: Mon, 29 Sep 2014 14:20:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4rod2FRoGD5dNg/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4rodDkMtq4oNtF",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406556583,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1412000405,
          "status": "active",
          "customer": "cus_4rod2FRoGD5dNg",
          "cancel_at_period_end": false,
          "current_period_start": 1412000405,
          "current_period_end": 1414592405,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": {
            "coupon": {
              "id": "25OFF",
              "created": 1410521489,
              "percent_off": 25,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "repeating",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 66,
              "duration_in_months": 3,
              "valid": true,
              "metadata": {}
            },
            "start": 1412000405,
            "object": "discount",
            "customer": "cus_4rod2FRoGD5dNg",
            "subscription": "sub_4rodDkMtq4oNtF",
            "end": 1419862805
          },
          "metadata": {}
        }
  recorded_at: Mon, 29 Sep 2014 14:20:06 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4rod2FRoGD5dNg&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1412000405,
              "id": "in_14i50T2nHroS7mLXfY6g17li",
              "period_start": 1412000405,
              "period_end": 1412000405,
              "lines": {
                "object": "list",
                "total_count": 2,
                "has_more": false,
                "url": "/v1/invoices/in_14i50T2nHroS7mLXfY6g17li/lines",
                "data": [
                  {
                    "id": "ii_14i50S2nHroS7mLXW561xARi",
                    "object": "line_item",
                    "type": "invoiceitem",
                    "livemode": false,
                    "amount": 315,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1412000404,
                      "end": 1412000404
                    },
                    "quantity": null,
                    "plan": null,
                    "description": "VAT (21%)",
                    "metadata": {
                      "type": "vat",
                      "amount": "315",
                      "rate": "21"
                    }
                  },
                  {
                    "id": "sub_4rodDkMtq4oNtF",
               [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4rod2FRoGD5dNg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_4rod2FRoGD5dNg&subscription=sub_4rodDkMtq4oNtF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1412000409,
          "id": "in_14i50X2nHroS7mLXcryWG5vm",
          "period_start": 1412000405,
          "period_end": 1412000409,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_14i50X2nHroS7mLXcryWG5vm/lines",
            "data": [
              {
                "id": "ii_14i50W2nHroS7mLXXDoClCew",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "usd",
                "proration": false,
                "period": {
                  "start": 1412000408,
                  "end": 1412000408
                },
                "quantity": null,
                "plan": null,
                "description": null,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "subtotal": 100,
          "total": 75,
          "customer": "cus_4rod2FRoGD5dNg",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 75,
          "currency": "usd",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1412004009,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": {
            "coupon": {
              "id": "25OFF",
              "created": 1410521489,
              "percent_off": 25,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "repeating",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 66,
              "duration_in_months": 3,
              "valid": true,
              "metadata": {}
            },
            "start": 1412000405,
            "object": "discount",
            "customer": "cus_4rod2FRoGD5dNg",
            "subscription": "sub_4rodDkMtq4oNtF",
            "end": 1419862805
          },
          "application_fee": null,
          "subscription": "sub_4rodDkMtq4oNtF",
          "metadata": {},
          "statement_description": null,
          "description": null
        }
  recorded_at: Mon, 29 Sep 2014 14:20:09 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_14i50X2nHroS7mLXcryWG5vm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
[...]
