---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[vat_number]=NL123&metadata[accounting_id]=10001&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1412000297,
          "id": "cus_4robLYOvRAQEEv",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "vat_number": "NL123",
            "accounting_id": "10001",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4robLYOvRAQEEv/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4robLYOvRAQEEv/cards",
            "data": [
              {
                "id": "card_14i4yj2nHroS7mLXiM2K11zi",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4robLYOvRAQEEv",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14i4yj2nHroS7mLXiM2K11zi"
        }
  recorded_at: Mon, 29 Sep 2014 14:18:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4robLYOvRAQEEv&amount=100&currency=usd
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14i4yk2nHroS7mLXtd2AgU63",
          "date": 1412000298,
          "amount": 100,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4robLYOvRAQEEv",
          "description": null,
          "metadata": {},
          "invoice": null,
          "subscription": null
        }
  recorded_at: Mon, 29 Sep 2014 14:18:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_4robLYOvRAQEEv
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1412000299,
          "id": "in_14i4yl2nHroS7mLXaLOcu5Tw",
          "period_start": 1412000299,
          "period_end": 1412000299,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_14i4yl2nHroS7mLXaLOcu5Tw/lines",
            "data": [
              {
                "id": "ii_14i4yk2nHroS7mLXtd2AgU63",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "usd",
                "proration": false,
                "period": {
                  "start": 1412000298,
                  "end": 1412000298
                },
                "quantity": null,
                "plan": null,
                "description": null,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "subtotal": 100,
          "total": 100,
          "customer": "cus_4robLYOvRAQEEv",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 100,
          "currency": "usd",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1412003899,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": null,
          "metadata": {},
          "statement_description": null,
          "description": null
        }
  recorded_at: Mon, 29 Sep 2014 14:18:20 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_14i4yl2nHroS7mLXaLOcu5Tw
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4robLYOvRAQEEv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4robLYOvRAQEEv&invoice=in_14i4yl2nHroS7mLXaLOcu5Tw&amount=21&currency=usd&description=VAT%20(21%25)&metadata[type]=vat&metadata[amount]=21&metadata[rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14i4yo2nHroS7mLXNOkZkNnF",
          "date": 1412000302,
          "amount": 21,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4robLYOvRAQEEv",
          "description": "VAT (21%)",
          "metadata": {
            "type": "vat",
            "amount": "21",
            "rate": "21"
          },
          "invoice": "in_14i4yl2nHroS7mLXaLOcu5Tw",
          "subscription": null
        }
  recorded_at: Mon, 29 Sep 2014 14:18:22 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4robLYOvRAQEEv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
