---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1410522622,
          "id": "cus_4lPOqKw2ocMoK5",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4lPOqKw2ocMoK5/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4lPOqKw2ocMoK5/cards",
            "data": [
              {
                "id": "card_14bsZG2nHroS7mLX0oTDTrxm",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4lPOqKw2ocMoK5",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14bsZG2nHroS7mLX0oTDTrxm"
        }
  recorded_at: Fri, 12 Sep 2014 11:50:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "created": 1410521489,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 6,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Fri, 12 Sep 2014 11:50:23 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Fri, 12 Sep 2014 11:50:24 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4lPOqKw2ocMoK5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_102w3g2nHroS7mLX",
          "email": "admin@piesync.com",
          "statement_descriptor": "PIESYNC.COM",
          "display_name": "Piesync",
          "timezone": "Etc/UTC",
          "details_submitted": true,
          "charge_enabled": true,
          "transfer_enabled": true,
          "currencies_supported": [
            "usd",
            "aed",
            "afn",
            "all",
            "amd",
            "ang",
            "aoa",
            "ars",
            "aud",
            "awg",
            "azn",
            "bam",
            "bbd",
            "bdt",
            "bgn",
            "bif",
            "bmd",
            "bnd",
            "bob",
            "brl",
            "bsd",
            "bwp",
            "bzd",
            "cad",
            "cdf",
            "chf",
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4lPOqKw2ocMoK5&amount=315&currency=usd&description=VAT%20(21%25)
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14bsZK2nHroS7mLXxjJ8wlTi",
          "date": 1410522626,
          "amount": 315,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4lPOqKw2ocMoK5",
          "description": "VAT (21%)",
          "metadata": {},
          "invoice": null,
          "subscription": null
        }
  recorded_at: Fri, 12 Sep 2014 11:50:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4lPOqKw2ocMoK5/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4lPOzJS56jWzuE",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406556583,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1410522627,
          "status": "active",
          "customer": "cus_4lPOqKw2ocMoK5",
          "cancel_at_period_end": false,
          "current_period_start": 1410522627,
          "current_period_end": 1413114627,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": {
            "coupon": {
              "id": "25OFF",
              "created": 1410521489,
              "percent_off": 25,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "repeating",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 7,
              "duration_in_months": 3,
              "valid": true,
              "metadata": {}
            },
            "start": 1410522627,
            "object": "discount",
            "customer": "cus_4lPOqKw2ocMoK5",
            "subscription": "sub_4lPOzJS56jWzuE",
            "end": 1418385027
          },
          "metadata": {}
        }
  recorded_at: Fri, 12 Sep 2014 11:50:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4lPOqKw2ocMoK5&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1410522627,
              "id": "in_14bsZL2nHroS7mLXi6rfNgad",
              "period_start": 1410522627,
              "period_end": 1410522627,
              "lines": {
                "object": "list",
                "total_count": 2,
                "has_more": false,
                "url": "/v1/invoices/in_14bsZL2nHroS7mLXi6rfNgad/lines",
                "data": [
                  {
                    "id": "ii_14bsZK2nHroS7mLXxjJ8wlTi",
                    "object": "line_item",
                    "type": "invoiceitem",
                    "livemode": false,
                    "amount": 315,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1410522626,
                      "end": 1410522626
                    },
                    "quantity": null,
                    "plan": null,
                    "description": "VAT (21%)",
                    "metadata": {}
                  },
                  {
                    "id": "sub_4lPOzJS56jWzuE",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_14bsZL2nHroS7mLXi6rfNgad
    body:
      encoding: US-ASCII
      string: metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random&metadata[vat_amount]=315&metadata[vat_rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4lPOqKw2ocMoK5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_4lPOqKw2ocMoK5&subscription=sub_4lPOzJS56jWzuE
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1410522632,
          "id": "in_14bsZQ2nHroS7mLXFhXVJEMC",
          "period_start": 1410522627,
          "period_end": 1410522632,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_14bsZQ2nHroS7mLXFhXVJEMC/lines",
            "data": [
              {
                "id": "ii_14bsZP2nHroS7mLXiao9frR7",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "usd",
                "proration": false,
                "period": {
                  "start": 1410522631,
                  "end": 1410522631
                },
                "quantity": null,
                "plan": null,
                "description": null,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "subtotal": 100,
          "total": 75,
          "customer": "cus_4lPOqKw2ocMoK5",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 75,
          "currency": "usd",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1410526232,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": {
            "coupon": {
              "id": "25OFF",
              "created": 1410521489,
              "percent_off": 25,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "repeating",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 7,
              "duration_in_months": 3,
              "valid": true,
              "metadata": {}
            },
            "start": 1410522627,
            "object": "discount",
            "customer": "cus_4lPOqKw2ocMoK5",
            "subscription": "sub_4lPOzJS56jWzuE",
            "end": 1418385027
          },
          "application_fee": null,
          "subscription": "sub_4lPOzJS56jWzuE",
          "metadata": {},
          "statement_description": null,
          "description": null
        }
  recorded_at: Fri, 12 Sep 2014 11:50:32 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_14bsZQ2nHroS7mLXFhXVJEMC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
[...]
