---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_number]=NL123&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418659755,
          "id": "cus_5KgmQGEbOHESHo",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_number": "NL123",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5KgmQGEbOHESHo/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5KgmQGEbOHESHo/cards",
            "data": [
              {
                "id": "card_15A1PL2nHroS7mLX3Y4Ixv8R",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5KgmQGEbOHESHo",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_15A1PL2nHroS7mLX3Y4Ixv8R"
        }
  recorded_at: Mon, 15 Dec 2014 16:09:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 15 Dec 2014 16:09:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "created": 1410521489,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 82,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Mon, 15 Dec 2014 16:09:17 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5KgmQGEbOHESHo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5KgmQGEbOHESHo/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_5KgmlN0LGM1fsZ",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406556583,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1418659759,
          "status": "active",
          "customer": "cus_5KgmQGEbOHESHo",
          "cancel_at_period_end": false,
          "current_period_start": 1418659759,
          "current_period_end": 1421338159,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": {
            "coupon": {
              "id": "25OFF",
              "created": 1410521489,
              "percent_off": 25,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "repeating",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 83,
              "duration_in_months": 3,
              "valid": true,
              "metadata": {}
            },
            "start": 1418659759,
            "object": "discount",
            "customer": "cus_5KgmQGEbOHESHo",
            "subscription": "sub_5KgmlN0LGM1fsZ",
            "end": 1426435759
          },
          "metadata": {}
        }
  recorded_at: Mon, 15 Dec 2014 16:09:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_5KgmQGEbOHESHo&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1418659759,
              "id": "in_15A1PP2nHroS7mLXMGxQkHyu",
              "period_start": 1418659759,
              "period_end": 1418659759,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_15A1PP2nHroS7mLXMGxQkHyu/lines",
                "data": [
                  {
                    "id": "sub_5KgmlN0LGM1fsZ",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 1499,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1418659759,
                      "end": 1421338159
                    },
                    "subscription": null,
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Test Plan",
                      "created": 1406556583,
                      "amount": 1499,
                      "currency": "usd",
                      "id": "test",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ],
                "count": 1
              },
              "subtotal": 1499,
              "total": 1124,
              "customer": "cus_5KgmQGEbOHESHo",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 1,
              "amount_due": 1124,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": null,
              "charge": "ch_15A1PP2nHroS7mLX2KdottIm",
              "discount": {
                "coupon": {
                  "id": "25OFF",
                  "created": 1410521489,
                  "percent_off": 25,
                  "amount_off": null,
                  "currency": null,
                  "object": "coupon",
                  "livemode": false,
                  "duration": "repeating",
                  "redeem_by": null,
                  "max_redemptions": null,
                  "times_redeemed": 83,
                  "duration_in_months": 3,
                  "valid": true,
                  "metadata": {}
                },
                "start": 1418659759,
                "object": "discount",
                "customer": "cus_5KgmQGEbOHESHo",
                "subscription": "sub_5KgmlN0LGM1fsZ",
                "end": 1426435759
              },
              "application_fee": null,
              "subscription": "sub_5KgmlN0LGM1fsZ",
              "metadata": {},
              "statement_description": null,
              "description": null,
              "receipt_number": null
            }
          ],
          "count": 1
        }
  recorded_at: Mon, 15 Dec 2014 16:09:22 GMT
recorded_with: VCR 2.9.2
