---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7kveTvcF9APeLI",
          "object": "customer",
          "account_balance": 0,
          "created": 1453311052,
          "currency": null,
          "default_source": "card_17VPnE2nHroS7mLXXI4P8eNa",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17VPnE2nHroS7mLXXI4P8eNa",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7kveTvcF9APeLI",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7kveTvcF9APeLI/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7kveTvcF9APeLI/subscriptions"
          }
        }
  recorded_at: Wed, 20 Jan 2016 17:30:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test",
          "object": "plan",
          "amount": 1499,
          "created": 1406556583,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Test Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Wed, 20 Jan 2016 17:30:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_7kveTvcF9APeLI&amount=315&currency=usd&description=vat&metadata[type]=vat&metadata[rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_17VPnH2nHroS7mLXJioUyY73",
          "object": "invoiceitem",
          "amount": 315,
          "currency": "usd",
          "customer": "cus_7kveTvcF9APeLI",
          "date": 1453311055,
          "description": "vat",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
            "type": "vat",
            "rate": "21"
          },
          "period": {
            "start": 1453311055,
            "end": 1453311055
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Wed, 20 Jan 2016 17:30:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "object": "coupon",
          "amount_off": null,
          "created": 1410521489,
          "currency": null,
          "duration": "repeating",
          "duration_in_months": 3,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "percent_off": 25,
          "redeem_by": null,
          "times_redeemed": 96,
          "valid": true
        }
  recorded_at: Wed, 20 Jan 2016 17:30:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7kveTvcF9APeLI/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_7kveDhUgLQGpAi",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1455989457,
          "current_period_start": 1453311057,
          "customer": "cus_7kveTvcF9APeLI",
          "discount": {
            "object": "discount",
            "coupon": {
              "id": "25OFF",
              "object": "coupon",
              "amount_off": null,
              "created": 1410521489,
              "currency": null,
              "duration": "repeating",
              "duration_in_months": 3,
              "livemode": false,
              "max_redemptions": null,
              "metadata": {},
              "percent_off": 25,
              "redeem_by": null,
              "times_redeemed": 97,
              "valid": true
            },
            "customer": "cus_7kveTvcF9APeLI",
            "end": 1461173457,
            "start": 1453311057,
            "subscription": "sub_7kveDhUgLQGpAi"
          },
          "ended_at": null,
          "metadata": {},
          "plan": {
            "id": "test",
            "object": "plan",
            "amount": 1499,
            "created": 1406556583,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Test Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1453311057,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Wed, 20 Jan 2016 17:31:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_7kveTvcF9APeLI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_17VPnJ2nHroS7mLXykwHzt8b",
              "object": "invoice",
              "amount_due": 1360,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_17VPnJ2nHroS7mLXJLvyvjpy",
              "closed": true,
              "currency": "usd",
              "customer": "cus_7kveTvcF9APeLI",
              "date": 1453311057,
              "description": null,
              "discount": {
                "object": "discount",
                "coupon": {
                  "id": "25OFF",
                  "object": "coupon",
                  "amount_off": null,
                  "created": 1410521489,
                  "currency": null,
                  "duration": "repeating",
                  "duration_in_months": 3,
                  "livemode": false,
                  "max_redemptions": null,
                  "metadata": {},
                  "percent_off": 25,
                  "redeem_by": null,
                  "times_redeemed": 97,
                  "valid": true
                },
                "customer": "cus_7kveTvcF9APeLI",
                "end": 1461173457,
                "start": 1453311057,
                "subscription": "sub_7kveDhUgLQGpAi"
              },
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "ii_17VPnH2nHroS7mLXJioUyY73",
                    "object": "line_item",
                    "amount": 315,
                    "currency": "usd",
                    "description": "vat",
                    "discountable": true,
                    "livemode": false,
                    "metadata": {
                      "type": "vat",
                      "rate": "21"
              [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7kveTvcF9APeLI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      stri[...]
