---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418659773,
          "id": "cus_5Kgnx8Y7IVphzW",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5Kgnx8Y7IVphzW/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Kgnx8Y7IVphzW/cards",
            "data": [
              {
                "id": "card_15A1Pd2nHroS7mLXfJqDPzBp",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Kgnx8Y7IVphzW",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_15A1Pd2nHroS7mLXfJqDPzBp"
        }
  recorded_at: Mon, 15 Dec 2014 16:09:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/rounding
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1411399343,
          "amount": 903,
          "currency": "usd",
          "id": "rounding",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 15 Dec 2014 16:09:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "created": 1410521489,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 83,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Mon, 15 Dec 2014 16:09:35 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5Kgnx8Y7IVphzW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5Kgnx8Y7IVphzW&amount=190&currency=usd&description=VAT%20(21%25)&metadata[type]=vat&metadata[rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15A1Ph2nHroS7mLXpLmcv9g0",
          "date": 1418659777,
          "amount": 190,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_5Kgnx8Y7IVphzW",
          "description": "VAT (21%)",
          "metadata": {
            "type": "vat",
            "rate": "21"
          },
          "invoice": null,
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Mon, 15 Dec 2014 16:09:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5Kgnx8Y7IVphzW/subscriptions
    body:
      encoding: US-ASCII
      string: plan=rounding&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_5Kgnw8DIHe3hwz",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1411399343,
            "amount": 903,
            "currency": "usd",
            "id": "rounding",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1418659778,
          "status": "active",
          "customer": "cus_5Kgnx8Y7IVphzW",
          "cancel_at_period_end": false,
          "current_period_start": 1418659778,
          "current_period_end": 1421338178,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": {
            "coupon": {
              "id": "25OFF",
              "created": 1410521489,
              "percent_off": 25,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "repeating",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 84,
              "duration_in_months": 3,
              "valid": true,
              "metadata": {}
            },
            "start": 1418659778,
            "object": "discount",
            "customer": "cus_5Kgnx8Y7IVphzW",
            "subscription": "sub_5Kgnw8DIHe3hwz",
            "end": 1426435778
          },
          "metadata": {}
        }
  recorded_at: Mon, 15 Dec 2014 16:09:39 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_5Kgnx8Y7IVphzW&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1418659778,
              "id": "in_15A1Pi2nHroS7mLXNKdE7kJ1",
              "period_start": 1418659778,
              "period_end": 1418659778,
              "lines": {
                "object": "list",
                "total_count": 2,
                "has_more": false,
                "url": "/v1/invoices/in_15A1Pi2nHroS7mLXNKdE7kJ1/lines",
                "data": [
                  {
                    "id": "ii_15A1Ph2nHroS7mLXpLmcv9g0",
                    "object": "line_item",
                    "type": "invoiceitem",
                    "livemode": false,
                    "amount": 190,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1418659777,
                      "end": 1418659777
                    },
                    "subscription": null,
                    "quantity": null,
                    "plan": null,
                    "description": "VAT (21%)",
                    "metadata": {
                      "type": "vat",
                      "rate": "21"
                    }
                  },
                  {
                    "id": "sub_5Kgnw8DIHe3hwz",
            [...]
