---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=true&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7kvebsU40Xe691",
          "object": "customer",
          "account_balance": 0,
          "created": 1453311066,
          "currency": null,
          "default_source": "card_17VPnS2nHroS7mLXSIge4uhc",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "true",
            "other": "random"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17VPnS2nHroS7mLXSIge4uhc",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7kvebsU40Xe691",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7kvebsU40Xe691/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7kvebsU40Xe691/subscriptions"
          }
        }
  recorded_at: Wed, 20 Jan 2016 17:31:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test",
          "object": "plan",
          "amount": 1499,
          "created": 1406556583,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Test Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Wed, 20 Jan 2016 17:31:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "object": "coupon",
          "amount_off": null,
          "created": 1410521489,
          "currency": null,
          "duration": "repeating",
          "duration_in_months": 3,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "percent_off": 25,
          "redeem_by": null,
          "times_redeemed": 97,
          "valid": true
        }
  recorded_at: Wed, 20 Jan 2016 17:31:11 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7kvebsU40Xe691/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_7kveelw1xTEfvw",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1455989469,
          "current_period_start": 1453311069,
          "customer": "cus_7kvebsU40Xe691",
          "discount": {
            "object": "discount",
            "coupon": {
              "id": "25OFF",
              "object": "coupon",
              "amount_off": null,
              "created": 1410521489,
              "currency": null,
              "duration": "repeating",
              "duration_in_months": 3,
              "livemode": false,
              "max_redemptions": null,
              "metadata": {},
              "percent_off": 25,
              "redeem_by": null,
              "times_redeemed": 98,
              "valid": true
            },
            "customer": "cus_7kvebsU40Xe691",
            "end": 1461173469,
            "start": 1453311069,
            "subscription": "sub_7kveelw1xTEfvw"
          },
          "ended_at": null,
          "metadata": {},
          "plan": {
            "id": "test",
            "object": "plan",
            "amount": 1499,
            "created": 1406556583,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Test Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1453311069,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Wed, 20 Jan 2016 17:31:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_7kvebsU40Xe691
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_17VPnV2nHroS7mLXUj9zewEx",
              "object": "invoice",
              "amount_due": 1124,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_17VPnV2nHroS7mLXcsbl9qRi",
              "closed": true,
              "currency": "usd",
              "customer": "cus_7kvebsU40Xe691",
              "date": 1453311069,
              "description": null,
              "discount": {
                "object": "discount",
                "coupon": {
                  "id": "25OFF",
                  "object": "coupon",
                  "amount_off": null,
                  "created": 1410521489,
                  "currency": null,
                  "duration": "repeating",
                  "duration_in_months": 3,
                  "livemode": false,
                  "max_redemptions": null,
                  "metadata": {},
                  "percent_off": 25,
                  "redeem_by": null,
                  "times_redeemed": 98,
                  "valid": true
                },
                "customer": "cus_7kvebsU40Xe691",
                "end": 1461173469,
                "start": 1453311069,
                "subscription": "sub_7kveelw1xTEfvw"
              },
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_7kveelw1xTEfvw",
                    "object": "line_item",
                    "amount": 1499,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1453311069,
                      "end": 1455989469
                    },
                    "plan": {
                      "id": "test",
                      "object": "plan",
                      "amount": 1499,
                      "created": 1406556583,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Test Plan",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_17VPnV2nHroS7mLXUj9zewEx/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1453311069,
              "period_start": 1453311069,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_7kveelw1xTEfvw",
              "subtotal": 1499,
              "tax": null,
              "tax_percent": null,
              "total": 1124,
              "webhooks_delivered_at": null
            }
          ],
          "has_more": false,
          "url": "/v1/invoices"
        }
  recorded_at: Wed, 20 Jan 2016 17:31:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_7kvebsU40Xe691
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      stri[...]
