---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1412000219,
          "id": "cus_4roaOavEM0RZSs",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4roaOavEM0RZSs/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4roaOavEM0RZSs/cards",
            "data": [
              {
                "id": "card_14i4xT2nHroS7mLXM0JVl54m",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4roaOavEM0RZSs",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14i4xT2nHroS7mLXM0JVl54m"
        }
  recorded_at: Mon, 29 Sep 2014 14:16:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/rounding
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1411399343,
          "amount": 903,
          "currency": "usd",
          "id": "rounding",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 29 Sep 2014 14:17:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "created": 1410521489,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 62,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Mon, 29 Sep 2014 14:17:01 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4roaOavEM0RZSs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4roaOavEM0RZSs&amount=190&currency=usd&description=VAT%20(21%25)&metadata[type]=vat&metadata[amount]=190&metadata[rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14i4xX2nHroS7mLX8YlVMxvL",
          "date": 1412000223,
          "amount": 190,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4roaOavEM0RZSs",
          "description": "VAT (21%)",
          "metadata": {
            "type": "vat",
            "amount": "190",
            "rate": "21"
          },
          "invoice": null,
          "subscription": null
        }
  recorded_at: Mon, 29 Sep 2014 14:17:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4roaOavEM0RZSs/subscriptions
    body:
      encoding: US-ASCII
      string: plan=rounding&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4roaXBBmzRemNE",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1411399343,
            "amount": 903,
            "currency": "usd",
            "id": "rounding",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1412000224,
          "status": "active",
          "customer": "cus_4roaOavEM0RZSs",
          "cancel_at_period_end": false,
          "current_period_start": 1412000224,
          "current_period_end": 1414592224,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": {
            "coupon": {
              "id": "25OFF",
              "created": 1410521489,
              "percent_off": 25,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "repeating",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 63,
              "duration_in_months": 3,
              "valid": true,
              "metadata": {}
            },
            "start": 1412000224,
            "object": "discount",
            "customer": "cus_4roaOavEM0RZSs",
            "subscription": "sub_4roaXBBmzRemNE",
            "end": 1419862624
          },
          "metadata": {}
        }
  recorded_at: Mon, 29 Sep 2014 14:17:05 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4roaOavEM0RZSs&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1412000224,
              "id": "in_14i4xY2nHroS7mLXCDAX2yjg",
              "period_start": 1412000224,
              "period_end": 1412000224,
              "lines": {
                "object": "list",
                "total_count": 2,
                "has_more": false,
                "url": "/v1/invoices/in_14i4xY2nHroS7mLXCDAX2yjg/lines",
                "data": [
                  {
                    "id": "ii_14i4xX2nHroS7mLX8YlVMxvL",
                    "object": "line_item",
                    "type": "invoiceitem",
                    "livemode": false,
                    "amount": 190,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1412000223,
                      "end": 1412000223
                    },
                    "quantity": null,
                    "plan": null,
                    "description": "VAT (21%)",
                    "metadata": {
                      "type": "vat",
                      "amount": "190",
                      "rate": "21"
                    }
                  },
                  {
                    "id": "sub_4roaXBBmzRemNE",
               [...]
