---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_7kveUxd4Mk1Zh7",
          "object": "customer",
          "account_balance": 0,
          "created": 1453311038,
          "currency": null,
          "default_source": "card_17VPn02nHroS7mLXOJV1SHT7",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17VPn02nHroS7mLXOJV1SHT7",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_7kveUxd4Mk1Zh7",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_7kveUxd4Mk1Zh7/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_7kveUxd4Mk1Zh7/subscriptions"
          }
        }
  recorded_at: Wed, 20 Jan 2016 17:30:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test",
          "object": "plan",
          "amount": 1499,
          "created": 1406556583,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Test Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Wed, 20 Jan 2016 17:30:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_7kveUxd4Mk1Zh7&amount=315&currency=usd&description=vat&metadata[type]=vat&metadata[rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_17VPn32nHroS7mLXJEPdvSx1",
          "object": "invoiceitem",
          "amount": 315,
          "currency": "usd",
          "customer": "cus_7kveUxd4Mk1Zh7",
          "date": 1453311041,
          "description": "vat",
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
            "type": "vat",
            "rate": "21"
          },
          "period": {
            "start": 1453311041,
            "end": 1453311041
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Wed, 20 Jan 2016 17:30:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_7kveUxd4Mk1Zh7/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_7kveY7NWGPV07t",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1455989442,
          "current_period_start": 1453311042,
          "customer": "cus_7kveUxd4Mk1Zh7",
          "discount": null,
          "ended_at": null,
          "metadata": {},
          "plan": {
            "id": "test",
            "object": "plan",
            "amount": 1499,
            "created": 1406556583,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Test Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1453311042,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Wed, 20 Jan 2016 17:30:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_7kveUxd4Mk1Zh7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_17VPn42nHroS7mLXIajC8cWX",
              "object": "invoice",
              "amount_due": 1814,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_17VPn42nHroS7mLXZIFf5MII",
              "closed": true,
              "currency": "usd",
              "customer": "cus_7kveUxd4Mk1Zh7",
              "date": 1453311042,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "ii_17VPn32nHroS7mLXJEPdvSx1",
                    "object": "line_item",
                    "amount": 315,
                    "currency": "usd",
                    "description": "vat",
                    "discountable": true,
                    "livemode": false,
                    "metadata": {
                      "type": "vat",
                      "rate": "21"
              [...]
