---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[is_company]=false
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1406227499,
          "id": "cus_4SmmcYc8Lfdf5r",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "is_company": "false"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4SmmcYc8Lfdf5r/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4SmmcYc8Lfdf5r/cards",
            "data": [
              {
                "id": "card_14JrD52nHroS7mLXQ5vHAQt7",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4SmmcYc8Lfdf5r",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14JrD52nHroS7mLXQ5vHAQt7"
        }
  recorded_at: Thu, 24 Jul 2014 18:44:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4SmmcYc8Lfdf5r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4SmmcYc8Lfdf5r&amount=21&currency=usd&description=VAT
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14JrD72nHroS7mLXpDcchS8z",
          "date": 1406227501,
          "amount": 21,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4SmmcYc8Lfdf5r",
          "description": "VAT",
          "metadata": {},
          "invoice": null,
          "subscription": null
        }
  recorded_at: Thu, 24 Jul 2014 18:45:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4SmmcYc8Lfdf5r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [],
          "count": 0
        }
  recorded_at: Thu, 24 Jul 2014 18:45:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/upcoming?customer=cus_4SmmcYc8Lfdf5r
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1406227503,
          "period_start": 1406227503,
          "period_end": 1406227503,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/upcoming/lines?customer=cus_4SmmcYc8Lfdf5r",
            "data": [
              {
                "id": "ii_14JrD72nHroS7mLXpDcchS8z",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 21,
                "currency": "usd",
                "proration": false,
                "period": {
                  "start": 1406227501,
                  "end": 1406227501
                },
                "quantity": null,
                "plan": null,
                "description": "VAT",
                "metadata": {}
              }
            ],
            "count": 1
          },
          "subtotal": 21,
          "total": 21,
          "customer": "cus_4SmmcYc8Lfdf5r",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 21,
          "currency": "usd",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1406231103,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": null,
          "metadata": {},
          "statement_description": null,
          "description": null
        }
  recorded_at: Thu, 24 Jul 2014 18:45:03 GMT
recorded_with: VCR 2.9.2
