---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_102w3g2nHroS7mLX",
          "object": "account",
          "business_profile": {
            "mcc": "5734",
            "name": "PieSync",
            "support_address": null,
            "support_email": null,
            "support_phone": "+32472582979",
            "support_url": null,
            "url": "piesync.com"
          },
          "capabilities": {
            "card_payments": "active",
            "legacy_payments": "inactive",
            "transfers": "active"
          },
          "charges_enabled": true,
          "country": "BE",
          "default_currency": "eur",
          "details_submitted": true,
          "email": "jsoloperto@hubspot.com",
          "payouts_enabled": true,
          "settings": {
            "branding": {
              "icon": "file_1FFj1u2nHroS7mLXXSblc6YN",
              "logo": "file_1FFj2b2nHroS7mLX8fJK5TMS",
              "primary_color": "#0077ff"
            },
            "card_payments": {
              "statement_descriptor_prefix": null
            },
            "dashboard": {
              "display_name": "Piesync",
              "timezone": "Europe/Brussels"
            },
            "payments": {
              "statement_descriptor": "PIESYNC.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            }
          },
          "type": "standard"
        }
  recorded_at: Wed, 26 Feb 2020 13:24:52 GMT
recorded_with: VCR 5.1.0
