---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1411463805,
          "id": "cus_4pUOHIANANPUUn",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4pUOHIANANPUUn/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4pUOHIANANPUUn/cards",
            "data": [
              {
                "id": "card_14fpPd2nHroS7mLXWR54q2mN",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4pUOHIANANPUUn",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14fpPd2nHroS7mLXWR54q2mN"
        }
  recorded_at: Tue, 23 Sep 2014 09:16:46 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/trial_plan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Trial Plan",
          "created": 1406549176,
          "amount": 1499,
          "currency": "usd",
          "id": "trial_plan",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": 10,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Tue, 23 Sep 2014 09:16:46 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4pUOHIANANPUUn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4pUOHIANANPUUn/subscriptions
    body:
      encoding: US-ASCII
      string: plan=trial_plan
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4pUOFajYgVaFOp",
          "plan": {
            "interval": "month",
            "name": "Trial Plan",
            "created": 1406549176,
            "amount": 1499,
            "currency": "usd",
            "id": "trial_plan",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": 10,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1411463809,
          "status": "trialing",
          "customer": "cus_4pUOHIANANPUUn",
          "cancel_at_period_end": false,
          "current_period_start": 1411463809,
          "current_period_end": 1412327809,
          "ended_at": null,
          "trial_start": 1411463809,
          "trial_end": 1412327809,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Tue, 23 Sep 2014 09:16:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4pUOHIANANPUUn&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1411463809,
              "id": "in_14fpPh2nHroS7mLXTUykfvCX",
              "period_start": 1411463809,
              "period_end": 1411463809,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_14fpPh2nHroS7mLXTUykfvCX/lines",
                "data": [
                  {
                    "id": "sub_4pUOFajYgVaFOp",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 0,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1411463809,
                      "end": 1412327809
                    },
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Trial Plan",
                      "created": 1406549176,
                      "amount": 1499,
                      "currency": "usd",
                      "id": "trial_plan",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": 10,
                      "metadata": {},
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ],
                "count": 1
              },
              "subtotal": 0,
              "total": 0,
              "customer": "cus_4pUOHIANANPUUn",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 0,
              "amount_due": 0,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": 1411463809,
              "charge": null,
              "discount": null,
              "application_fee": null,
              "subscription": "sub_4pUOFajYgVaFOp",
              "metadata": {},
              "statement_description": null,
              "description": null
            }
          ],
          "count": 1
        }
  recorded_at: Tue, 23 Sep 2014 09:16:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_14fpPh2nHroS7mLXTUykfvCX
    body:
      encoding: US-ASCII
      string: metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4pUOHIANANPUUn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/upcoming?customer=cus_4pUOHIANANPUUn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
      [...]
