---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[is_company]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1406291548,
          "id": "cus_4T40UWV4C690EB",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "is_company": "false",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4T40UWV4C690EB/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4T40UWV4C690EB/cards",
            "data": [
              {
                "id": "card_14K7s82nHroS7mLXAXJuqdVG",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4T40UWV4C690EB",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14K7s82nHroS7mLXAXJuqdVG"
        }
  recorded_at: Fri, 25 Jul 2014 12:32:28 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such plan: test; one exists with a name of test, but its ID is basic.",
            "param": "id"
          }
        }
  recorded_at: Fri, 25 Jul 2014 12:32:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: id=test&name=Test%20Plan&amount=1499&currency=usd&interval=month
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406291550,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Fri, 25 Jul 2014 12:32:30 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4T40UWV4C690EB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4T40UWV4C690EB&amount=314&currency=usd&description=VAT
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14K7sC2nHroS7mLXzNhe8BUG",
          "date": 1406291552,
          "amount": 314,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4T40UWV4C690EB",
          "description": "VAT",
          "metadata": {},
          "invoice": null,
          "subscription": null
        }
  recorded_at: Fri, 25 Jul 2014 12:32:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4T40UWV4C690EB/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4T40e7ymGKxLVy",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406291550,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1406291553,
          "status": "active",
          "customer": "cus_4T40UWV4C690EB",
          "cancel_at_period_end": false,
          "current_period_start": 1406291553,
          "current_period_end": 1408969953,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Fri, 25 Jul 2014 12:32:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4T40UWV4C690EB&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1406291553,
              "id": "in_14K7sD2nHroS7mLXrl1a790g",
              "period_start": 1406291553,
              "period_end": 1406291553,
              "lines": {
                "object": "list",
                "total_count": 2,
                "has_more": false,
                "url": "/v1/invoices/in_14K7sD2nHroS7mLXrl1a790g/lines",
                "data": [
                  {
                    "id": "ii_14K7sC2nHroS7mLXzNhe8BUG",
                    "object": "line_item",
                    "type": "invoiceitem",
                    "livemode": false,
                    "amount": 314,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1406291552,
                      "end": 1406291552
                    },
                    "quantity": null,
                    "plan": null,
                    "description": "VAT",
                    "metadata": {}
                  },
                  {
                    "id": "sub_4T40e7ymGKxLVy",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 1499,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1406291553,
                      "end": 1408969953
                    },
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Test Plan",
                      "created": 1406291550,
                      "amount": 1499,
                      "currency": "usd",
                      "id": "test",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ],
                "count": 2
              },
              "subtotal": 1813,
              "total": 1813,
              "customer": "cus_4T40UWV4C690EB",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 1,
              "amount_due": 1813,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": null,
              "charge": "ch_14K7sD2nHroS7mLXfIM2tkMP",
              "discount": null,
              "application_fee": null,
              "subscription": "sub_4T40e7ymGKxLVy",
              "metadata": {},
              "statement_description": null,
              "description": null
            }
          ],
          "count": 1
        }
  recorded_at: Fri, 25 Jul 2014 12:32:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_14K7sD2nHroS7mLXrl1a790g
    body:
      encoding: US-ASCII
      string: metadata[country_code]=NL&metadata[is_company]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4T40UWV4C690EB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/upcoming?customer=cus_4T40UWV4C690EB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
      [...]
