---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000341&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418659869,
          "id": "cus_5KgosTZqG10Xb2",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5KgosTZqG10Xb2/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5KgosTZqG10Xb2/cards",
            "data": [
              {
                "id": "card_15A1RB2nHroS7mLXsXs43I6f",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "IDAB30OROLu15oJa",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5KgosTZqG10Xb2",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_15A1RB2nHroS7mLXsXs43I6f"
        }
  recorded_at: Mon, 15 Dec 2014 16:11:10 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 15 Dec 2014 16:11:11 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5KgosTZqG10Xb2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5KgosTZqG10Xb2&amount=315&currency=usd&description=VAT%20(21%25)&metadata[type]=vat&metadata[rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15A1RF2nHroS7mLX66yeO2r5",
          "date": 1418659873,
          "amount": 315,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_5KgosTZqG10Xb2",
          "description": "VAT (21%)",
          "metadata": {
            "type": "vat",
            "rate": "21"
          },
          "invoice": null,
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Mon, 15 Dec 2014 16:11:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5KgosTZqG10Xb2/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Mon, 15 Dec 2014 16:11:15 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/invoiceitems/ii_15A1RF2nHroS7mLX66yeO2r5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "ii_15A1RF2nHroS7mLX66yeO2r5"
        }
  recorded_at: Mon, 15 Dec 2014 16:11:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_5KgosTZqG10Xb2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [],
          "count": 0
        }
  recorded_at: Mon, 15 Dec 2014 16:11:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_5KgosTZqG10Xb2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoiceitems",
          "data": [],
          "count": 0
        }
  recorded_at: Mon, 15 Dec 2014 16:11:18 GMT
recorded_with: VCR 2.9.2
