---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000341&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1406724749,
          "id": "cus_4UwSogI7CBa6PC",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4UwSogI7CBa6PC/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4UwSogI7CBa6PC/cards",
            "data": [
              {
                "id": "card_14LwZF2nHroS7mLX6V0Zf859",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "IDAB30OROLu15oJa",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4UwSogI7CBa6PC",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14LwZF2nHroS7mLX6V0Zf859"
        }
  recorded_at: Wed, 30 Jul 2014 12:52:29 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Wed, 30 Jul 2014 12:52:30 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4UwSogI7CBa6PC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_102w3g2nHroS7mLX",
          "email": "admin@piesync.com",
          "statement_descriptor": "PIESYNC.COM",
          "display_name": "Piesync",
          "timezone": "Etc/UTC",
          "details_submitted": true,
          "charge_enabled": true,
          "transfer_enabled": true,
          "currencies_supported": [
            "usd",
            "aed",
            "afn",
            "all",
            "amd",
            "ang",
            "aoa",
            "ars",
            "aud",
            "awg",
            "azn",
            "bam",
            "bbd",
            "bdt",
            "bgn",
            "bif",
            "bmd",
            "bnd",
            "bob",
            "brl",
            "bsd",
            "bwp",
            "bzd",
            "cad",
            "cdf",
            "chf",
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4UwSogI7CBa6PC&amount=314&currency=usd&description=VAT%20(21%25)
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14LwZJ2nHroS7mLXCd44bhoB",
          "date": 1406724753,
          "amount": 314,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4UwSogI7CBa6PC",
          "description": "VAT (21%)",
          "metadata": {},
          "invoice": null,
          "subscription": null
        }
  recorded_at: Wed, 30 Jul 2014 12:52:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4UwSogI7CBa6PC/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Wed, 30 Jul 2014 12:52:34 GMT
- request:
    method: delete
    uri: https://api.stripe.com/v1/invoiceitems/ii_14LwZJ2nHroS7mLXCd44bhoB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "deleted": true,
          "id": "ii_14LwZJ2nHroS7mLXCd44bhoB"
        }
  recorded_at: Wed, 30 Jul 2014 12:52:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4UwSogI7CBa6PC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [],
          "count": 0
        }
  recorded_at: Wed, 30 Jul 2014 12:52:36 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoiceitems?customer=cus_4UwSogI7CBa6PC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoiceitems",
          "data": [],
          "count": 0
        }
  recorded_at: Wed, 30 Jul 2014 12:52:36 GMT
recorded_with: VCR 2.9.2
