---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[is_company]=false&metadata[other]=random
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1406228654,
          "id": "cus_4Sn5LXUFFg3Lfm",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "is_company": "false",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4Sn5LXUFFg3Lfm/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4Sn5LXUFFg3Lfm/cards",
            "data": [
              {
                "id": "card_14JrVi2nHroS7mLXjvkbz18q",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4Sn5LXUFFg3Lfm",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14JrVi2nHroS7mLXjvkbz18q"
        }
  recorded_at: Thu, 24 Jul 2014 19:04:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406225845,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Thu, 24 Jul 2014 19:04:15 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4Sn5LXUFFg3Lfm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      st[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4Sn5LXUFFg3Lfm&amount=314&currency=usd&description=VAT
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14JrVm2nHroS7mLXfc4I6dk5",
          "date": 1406228658,
          "amount": 314,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4Sn5LXUFFg3Lfm",
          "description": "VAT",
          "metadata": {},
          "invoice": null,
          "subscription": null
        }
  recorded_at: Thu, 24 Jul 2014 19:04:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4Sn5LXUFFg3Lfm/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4Sn6M9iIf4VCIM",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406225845,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1406228660,
          "status": "active",
          "customer": "cus_4Sn5LXUFFg3Lfm",
          "cancel_at_period_end": false,
          "current_period_start": 1406228660,
          "current_period_end": 1408907060,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Thu, 24 Jul 2014 19:04:21 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4Sn5LXUFFg3Lfm&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1406228660,
              "id": "in_14JrVo2nHroS7mLXiqfpL8LH",
              "period_start": 1406228660,
              "period_end": 1406228660,
              "lines": {
                "object": "list",
                "total_count": 2,
                "has_more": false,
                "url": "/v1/invoices/in_14JrVo2nHroS7mLXiqfpL8LH/lines",
                "data": [
                  {
                    "id": "ii_14JrVm2nHroS7mLXfc4I6dk5",
                    "object": "line_item",
                    "type": "invoiceitem",
                    "livemode": false,
                    "amount": 314,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1406228658,
                      "end": 1406228658
                    },
                    "quantity": null,
                    "plan": null,
                    "description": "VAT",
                    "metadata": {}
                  },
                  {
                    "id": "sub_4Sn6M9iIf4VCIM",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 1499,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1406228660,
                      "end": 1408907060
                    },
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Test Plan",
                      "created": 1406225845,
                      "amount": 1499,
                      "currency": "usd",
                      "id": "test",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ],
                "count": 2
              },
              "subtotal": 1813,
              "total": 1813,
              "customer": "cus_4Sn5LXUFFg3Lfm",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 1,
              "amount_due": 1813,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": null,
              "charge": "ch_14JrVo2nHroS7mLXpJrKGYQ6",
              "discount": null,
              "application_fee": null,
              "subscription": "sub_4Sn6M9iIf4VCIM",
              "metadata": {},
              "statement_description": null,
              "description": null
            }
          ],
          "count": 1
        }
  recorded_at: Thu, 24 Jul 2014 19:04:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_14JrVo2nHroS7mLXiqfpL8LH
    body:
      encoding: US-ASCII
      string: metadata[country_code]=NL&metadata[is_company]=false&metadata[other]=random
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
 [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4Sn5LXUFFg3Lfm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/upcoming?customer=cus_4Sn5LXUFFg3Lfm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_SY84Wlp5UbI0Zv8rhGPkrqPv
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encodin[...]
