---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Go2A7chBMqE3fi",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1582724338,
          "currency": null,
          "default_source": "card_1GGQ6I2nHroS7mLXGG2qdhQ8",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "D7C99DB7",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1GGQ6I2nHroS7mLXGG2qdhQ8",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Go2A7chBMqE3fi",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Go2A7chBMqE3fi/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Go2A7chBMqE3fi/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Go2A7chBMqE3fi/tax_ids"
          }
        }
  recorded_at: Wed, 26 Feb 2020 13:38:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_Go2A7chBMqE3fi&amount=100&currency=usd
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1GGQ6J2nHroS7mLX2paUtnZX",
          "object": "invoiceitem",
          "amount": 100,
          "currency": "usd",
          "customer": "cus_Go2A7chBMqE3fi",
          "date": 1582724339,
          "description": null,
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "period": {
            "end": 1582724339,
            "start": 1582724339
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "tax_rates": [

          ],
          "unit_amount": 100,
          "unit_amount_decimal": "100"
        }
  recorded_at: Wed, 26 Feb 2020 13:38:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_Go2A7chBMqE3fi
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1GGQ6K2nHroS7mLXLiWDlJch",
          "object": "invoice",
          "account_country": "BE",
          "account_name": "PieSync",
          "amount_due": 100,
          "amount_paid": 0,
          "amount_remaining": 100,
          "application_fee_amount": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "billing_reason": "manual",
          "charge": null,
          "collection_method": "charge_automatically",
          "created": 1582724340,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_Go2A7chBMqE3fi",
          "customer_address": null,
          "customer_email": null,
          "customer_name": null,
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [

          ],
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": null,
          "footer": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "il_1GGQ6J2nHroS7mLXpsuVTlWJ",
                "object": "line_item",
                "amount": 100,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "invoice_item": "ii_1GGQ6J2nHroS7mLX2paUtnZX",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1582724339,
                  "start": 1582724339
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "tax_amounts": [

                ],
                "tax_rates": [

                ],
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_1GGQ6K2nHroS7mLXLiWDlJch/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": null,
          "number": "D7C99DB7-0001",
          "paid": false,
          "payment_intent": null,
          "period_end": 1582724340,
          "period_start": 1582724340,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subscription": null,
          "subtotal": 100,
          "tax": null,
          "tax_percent": null,
          "total": 100,
          "total_tax_amounts": [

          ],
          "webhooks_delivered_at": null
        }
  recorded_at: Wed, 26 Feb 2020 13:39:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1GGQ6K2nHroS7mLXLiWDlJch/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1GGQ6K2nHroS7mLXLiWDlJch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Go2A7chBMqE3fi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      stri[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_1GGQ6L2nHroS7mLXT8LDsDex
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1GGQ6L2nHroS7mLXT8LDsDex",
          "object": "charge",
          "amount": 100,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_1GGQ6L2nHroS7mLXSsp1493X",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "captured": true,
          "created": 1582724341,
          "currency": "usd",
          "customer": "cus_Go2A7chBMqE3fi",
          "description": "Invoice D7C99DB7-0001",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": "in_1GGQ6K2nHroS7mLXLiWDlJch",
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 10,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": "pi_1GGQ6L2nHroS7mLXOC3QAM0J",
          "payment_method": "card_1GGQ6I2nHroS7mLXGG2qdhQ8",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2030,
              "fingerprint": "0K7oMWAQAFG7TEob",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "network": "visa",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_102w3g2nHroS7mLX/ch_1GGQ6L2nHroS7mLXT8LDsDex/rcpt_Go2ASjwINHZD0vnJQYs5EnBSkLP8YUw",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1GGQ6L2nHroS7mLXT8LDsDex/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1GGQ6I2nHroS7mLXGG2qdhQ8",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_Go2A7chBMqE3fi",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Wed, 26 Feb 2020 13:39:04 GMT
recorded_with: VCR 5.1.0
