---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418659633,
          "id": "cus_5Kgk0SgjVlQGAG",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5Kgk0SgjVlQGAG/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5Kgk0SgjVlQGAG/cards",
            "data": [
              {
                "id": "card_15A1NN2nHroS7mLXqREoqYAR",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5Kgk0SgjVlQGAG",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_15A1NN2nHroS7mLXqREoqYAR"
        }
  recorded_at: Mon, 15 Dec 2014 16:07:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 15 Dec 2014 16:07:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_5Kgk0SgjVlQGAG/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_5KgkOF1NnECzuE",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406556583,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1418659634,
          "status": "active",
          "customer": "cus_5Kgk0SgjVlQGAG",
          "cancel_at_period_end": false,
          "current_period_start": 1418659634,
          "current_period_end": 1421338034,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Mon, 15 Dec 2014 16:07:16 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_5Kgk0SgjVlQGAG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1418659634,
              "id": "in_15A1NO2nHroS7mLXwRAdsrgu",
              "period_start": 1418659634,
              "period_end": 1418659634,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_15A1NO2nHroS7mLXwRAdsrgu/lines",
                "data": [
                  {
                    "id": "sub_5KgkOF1NnECzuE",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 1499,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1418659634,
                      "end": 1421338034
                    },
                    "subscription": null,
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Test Plan",
                      "created": 1406556583,
                      "amount": 1499,
                      "currency": "usd",
                      "id": "test",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ],
                "count": 1
              },
              "subtotal": 1499,
              "total": 1499,
              "customer": "cus_5Kgk0SgjVlQGAG",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 1,
              "amount_due": 1499,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": null,
              "charge": "ch_15A1NP2nHroS7mLXrwYzYi3j",
              "discount": null,
              "application_fee": null,
              "subscription": "sub_5KgkOF1NnECzuE",
              "metadata": {},
              "statement_description": null,
              "description": null,
              "receipt_number": null
            }
          ],
          "count": 1
        }
  recorded_at: Mon, 15 Dec 2014 16:07:17 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_15A1NP2nHroS7mLXrwYzYi3j
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15A1NP2nHroS7mLXrwYzYi3j",
          "object": "charge",
          "created": 1418659635,
          "livemode": false,
          "paid": true,
          "amount": 1499,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "card": {
            "id": "card_15A1NN2nHroS7mLXqREoqYAR",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5Kgk0SgjVlQGAG",
            "type": "Visa"
          },
          "balance_transaction": "txn_15A1NP2nHroS7mLXeaHOupDu",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5Kgk0SgjVlQGAG",
          "invoice": "in_15A1NO2nHroS7mLXwRAdsrgu",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": []
        }
  recorded_at: Mon, 15 Dec 2014 16:07:18 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15A1NO2nHroS7mLXwRAdsrgu
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_15A1NP2nHroS7mLXrwYzYi3j/refund
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
      [...]
[...]
