---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1429178790,
          "id": "cus_64IUtfpYo6H0Ib",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_64IUtfpYo6H0Ib/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_64IUtfpYo6H0Ib/cards",
            "data": [
              {
                "id": "card_15s9tC2nHroS7mLXgf6E11Fw",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_64IUtfpYo6H0Ib",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_15s9tC2nHroS7mLXgf6E11Fw",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_64IUtfpYo6H0Ib/sources",
            "data": [
              {
                "id": "card_15s9tC2nHroS7mLXgf6E11Fw",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_64IUtfpYo6H0Ib",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_source": "card_15s9tC2nHroS7mLXgf6E11Fw"
        }
  recorded_at: Thu, 16 Apr 2015 10:06:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_64IUtfpYo6H0Ib&amount=100&currency=usd
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15s9tD2nHroS7mLX8s7Sf7YL",
          "date": 1429178791,
          "amount": 100,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_64IUtfpYo6H0Ib",
          "discountable": true,
          "description": null,
          "metadata": {},
          "invoice": null,
          "subscription": null,
          "quantity": null,
          "plan": null,
          "period": {
            "start": 1429178791,
            "end": 1429178791
          }
        }
  recorded_at: Thu, 16 Apr 2015 10:06:32 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_64IUtfpYo6H0Ib
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1429178793,
          "id": "in_15s9tF2nHroS7mLXE6vpHR2Z",
          "period_start": 1429178793,
          "period_end": 1429178793,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_15s9tF2nHroS7mLXE6vpHR2Z/lines",
            "data": [
              {
                "id": "ii_15s9tD2nHroS7mLX8s7Sf7YL",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "usd",
                "proration": false,
                "period": {
                  "start": 1429178791,
                  "end": 1429178791
                },
                "subscription": null,
                "quantity": null,
                "plan": null,
                "description": null,
                "discountable": true,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "subtotal": 100,
          "total": 100,
          "customer": "cus_64IUtfpYo6H0Ib",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 100,
          "currency": "usd",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1429182393,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": null,
          "tax_percent": null,
          "tax": null,
          "metadata": {},
          "statement_descriptor": null,
          "description": null,
          "receipt_number": null,
          "statement_description": null
        }
  recorded_at: Thu, 16 Apr 2015 10:06:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15s9tF2nHroS7mLXE6vpHR2Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_64IUtfpYo6H0Ib
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "custom[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_15s9tF2nHroS7mLXE6vpHR2Z/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "d[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_15s9tJ2nHroS7mLXyELtd2a6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15s9tJ2nHroS7mLXyELtd2a6",
          "object": "charge",
          "created": 1429178797,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15s9tC2nHroS7mLXgf6E11Fw",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_64IUtfpYo6H0Ib",
            "type": "Visa"
          },
          "captured": true,
          "card": {
            "id": "card_15s9tC2nHroS7mLXgf6E11Fw",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_64IUtfpYo6H0Ib",
            "type": "Visa"
          },
          "balance_transaction": "txn_15s9tJ2nHroS7mLX4yAS3Jaf",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_64IUtfpYo6H0Ib",
          "invoice": "in_15s9tF2nHroS7mLXE6vpHR2Z",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": [],
          "statement_description": null
        }
  recorded_at: Thu, 16 Apr 2015 10:06:41 GMT
recorded_with: VCR 2.9.2
