---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1412000212,
          "id": "cus_4roaZZeIXtp9tO",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4roaZZeIXtp9tO/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4roaZZeIXtp9tO/cards",
            "data": [
              {
                "id": "card_14i4xM2nHroS7mLXv8lX8NKI",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4roaZZeIXtp9tO",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14i4xM2nHroS7mLXv8lX8NKI"
        }
  recorded_at: Mon, 29 Sep 2014 14:16:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 29 Sep 2014 14:16:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4roaZZeIXtp9tO/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4roaVgsrtaAgJ6",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406556583,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1412000213,
          "status": "active",
          "customer": "cus_4roaZZeIXtp9tO",
          "cancel_at_period_end": false,
          "current_period_start": 1412000213,
          "current_period_end": 1414592213,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Mon, 29 Sep 2014 14:16:54 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4roaZZeIXtp9tO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1412000213,
              "id": "in_14i4xN2nHroS7mLX0ky0BYLt",
              "period_start": 1412000213,
              "period_end": 1412000213,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_14i4xN2nHroS7mLX0ky0BYLt/lines",
                "data": [
                  {
                    "id": "sub_4roaVgsrtaAgJ6",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 1499,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1412000213,
                      "end": 1414592213
                    },
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Test Plan",
                      "created": 1406556583,
                      "amount": 1499,
                      "currency": "usd",
                      "id": "test",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ],
                "count": 1
              },
              "subtotal": 1499,
              "total": 1499,
              "customer": "cus_4roaZZeIXtp9tO",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 1,
              "amount_due": 1499,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": 1412000214,
              "charge": "ch_14i4xN2nHroS7mLXAjM7V1Fe",
              "discount": null,
              "application_fee": null,
              "subscription": "sub_4roaVgsrtaAgJ6",
              "metadata": {},
              "statement_description": null,
              "description": null
            }
          ],
          "count": 1
        }
  recorded_at: Mon, 29 Sep 2014 14:16:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_14i4xN2nHroS7mLXAjM7V1Fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14i4xN2nHroS7mLXAjM7V1Fe",
          "object": "charge",
          "created": 1412000213,
          "livemode": false,
          "paid": true,
          "amount": 1499,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14i4xM2nHroS7mLXv8lX8NKI",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4roaZZeIXtp9tO",
            "type": "Visa"
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_14i4xN2nHroS7mLX7rQZWDna",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_4roaZZeIXtp9tO",
          "invoice": "in_14i4xN2nHroS7mLX0ky0BYLt",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null
        }
  recorded_at: Mon, 29 Sep 2014 14:16:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_14i4xN2nHroS7mLX0ky0BYLt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_14i4xN2nHroS7mLXAjM7V1Fe/refund
    body:
      encoding: US-ASCII
      string: amount=100
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_14i4xN2nHroS7mLXAjM7V1Fe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14i4xN2nHroS7mLXAjM7V1Fe",
          "object": "charge",
          "created": 1412000213,
          "livemode": false,
          "paid": true,
          "amount": 1499,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "card": {
            "id": "card_14i4xM2nHroS7mLXv8lX8NKI",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_4roaZZeIXtp9tO",
            "type": "Visa"
          },
          "balance_transaction": "txn_14i4xN2nHroS7mLX7rQZWDna",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 100,
          "customer": "cus_4roaZZeIXtp9tO",
          "invoice": "in_14i4xN2nHroS7mLX0ky0BYLt",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": [
            {
              "id": "re_14i4xR2nHroS7mLXki6saVlc",
              "amount": 100,
              "currency": "usd",
              "created": 1412000217,
              "object": "refund",
              "balance_transaction": "txn_14i4xR2nHroS7mLXcukqP0qh",
              "metadata": {},
              "charge": "ch_14i4xN2nHroS7mLXAjM7V1Fe",
              "receipt_number": null,
              "reason": null
            }
          ]
        }
  recorded_at: Mon, 15 Dec 2014 14:07:14 GMT
recorded_with: VCR 2.9.2
