---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1412000315,
          "id": "cus_4rocNuPoGkaaNz",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4rocNuPoGkaaNz/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4rocNuPoGkaaNz/cards",
            "data": [
              {
                "id": "card_14i4z12nHroS7mLXnTcdccoB",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4rocNuPoGkaaNz",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14i4z12nHroS7mLXnTcdccoB"
        }
  recorded_at: Mon, 29 Sep 2014 14:18:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4rocNuPoGkaaNz&amount=100&currency=usd
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14i4z22nHroS7mLXl1yxYBNW",
          "date": 1412000316,
          "amount": 100,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4rocNuPoGkaaNz",
          "description": null,
          "metadata": {},
          "invoice": null,
          "subscription": null
        }
  recorded_at: Mon, 29 Sep 2014 14:18:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_4rocNuPoGkaaNz
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1412000317,
          "id": "in_14i4z32nHroS7mLXys59wnXD",
          "period_start": 1412000317,
          "period_end": 1412000317,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_14i4z32nHroS7mLXys59wnXD/lines",
            "data": [
              {
                "id": "ii_14i4z22nHroS7mLXl1yxYBNW",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "usd",
                "proration": false,
                "period": {
                  "start": 1412000316,
                  "end": 1412000316
                },
                "quantity": null,
                "plan": null,
                "description": null,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "subtotal": 100,
          "total": 100,
          "customer": "cus_4rocNuPoGkaaNz",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 100,
          "currency": "usd",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1412003917,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": null,
          "metadata": {},
          "statement_description": null,
          "description": null
        }
  recorded_at: Mon, 29 Sep 2014 14:18:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_14i4z32nHroS7mLXys59wnXD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4rocNuPoGkaaNz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4rocNuPoGkaaNz&invoice=in_14i4z32nHroS7mLXys59wnXD&amount=21&currency=usd&description=VAT%20(21%25)&metadata[type]=vat&metadata[amount]=21&metadata[rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14i4z62nHroS7mLXSIAbReS3",
          "date": 1412000320,
          "amount": 21,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4rocNuPoGkaaNz",
          "description": "VAT (21%)",
          "metadata": {
            "type": "vat",
            "amount": "21",
            "rate": "21"
          },
          "invoice": "in_14i4z32nHroS7mLXys59wnXD",
          "subscription": null
        }
  recorded_at: Mon, 29 Sep 2014 14:18:41 GMT
[...]
