---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_GtaUXqR1Xjs5MX",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1584005198,
          "currency": null,
          "default_source": "card_1GLnJK2nHroS7mLX7yo6tzs7",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "6FF61013",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1GLnJK2nHroS7mLX7yo6tzs7",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_GtaUXqR1Xjs5MX",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_GtaUXqR1Xjs5MX/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_GtaUXqR1Xjs5MX/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_GtaUXqR1Xjs5MX/tax_ids"
          }
        }
  recorded_at: Thu, 12 Mar 2020 09:26:38 GMT
recorded_with: VCR 5.1.0
