---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418659653,
          "id": "cus_5KglLnYrn0GLDb",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5KglLnYrn0GLDb/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5KglLnYrn0GLDb/cards",
            "data": [
              {
                "id": "card_15A1Nh2nHroS7mLXUVvlg19q",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5KglLnYrn0GLDb",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_15A1Nh2nHroS7mLXUVvlg19q"
        }
  recorded_at: Mon, 15 Dec 2014 16:07:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5KglLnYrn0GLDb&amount=100&currency=usd
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15A1Ni2nHroS7mLXDwjVY0sS",
          "date": 1418659654,
          "amount": 100,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_5KglLnYrn0GLDb",
          "description": null,
          "metadata": {},
          "invoice": null,
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Mon, 15 Dec 2014 16:07:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_5KglLnYrn0GLDb
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1418659655,
          "id": "in_15A1Nj2nHroS7mLXSYJDlvku",
          "period_start": 1418659655,
          "period_end": 1418659655,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_15A1Nj2nHroS7mLXSYJDlvku/lines",
            "data": [
              {
                "id": "ii_15A1Ni2nHroS7mLXDwjVY0sS",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "usd",
                "proration": false,
                "period": {
                  "start": 1418659654,
                  "end": 1418659654
                },
                "subscription": null,
                "quantity": null,
                "plan": null,
                "description": null,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "subtotal": 100,
          "total": 100,
          "customer": "cus_5KglLnYrn0GLDb",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 100,
          "currency": "usd",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1418663255,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": null,
          "metadata": {},
          "statement_description": null,
          "description": null,
          "receipt_number": null
        }
  recorded_at: Mon, 15 Dec 2014 16:07:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15A1Nj2nHroS7mLXSYJDlvku
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_5KglLnYrn0GLDb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
[...]
