---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[name]=John%20Doe&metadata[address]=Doestreet
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8kmedkOJukMoKS",
          "object": "customer",
          "account_balance": 0,
          "created": 1467577267,
          "currency": null,
          "default_source": "card_18TH5T2nHroS7mLXOPgGQPBL",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "name": "John Doe",
            "address": "Doestreet"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18TH5T2nHroS7mLXOPgGQPBL",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8kmedkOJukMoKS",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8kmedkOJukMoKS/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8kmedkOJukMoKS/subscriptions"
          }
        }
  recorded_at: Wed, 20 Jan 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test",
          "object": "plan",
          "amount": 1499,
          "created": 1406556583,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Test Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Wed, 20 Jan 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8kmedkOJukMoKS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      stri[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8kmedkOJukMoKS/subscriptions
    body:
      encoding: US-ASCII
      string: tax_percent=21&plan=test
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8kmeGNYbtE9YhG",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1467577271,
          "current_period_end": 1470255671,
          "current_period_start": 1467577271,
          "customer": "cus_8kmedkOJukMoKS",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "test",
            "object": "plan",
            "amount": 1499,
            "created": 1406556583,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Test Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1467577271,
          "status": "active",
          "tax_percent": 21.0,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Wed, 20 Jan 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8kmedkOJukMoKS
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_18TH5X2nHroS7mLXfpQCHkzk",
              "object": "invoice",
              "amount_due": 1814,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_18TH5X2nHroS7mLXnmUX8w2B",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8kmedkOJukMoKS",
              "date": 1467577271,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_8kmeGNYbtE9YhG",
                    "object": "line_item",
                    "amount": 1499,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1467577271,
                      "end": 1470255671
                    },
                    "plan": {
                      "id": "test",
                      "object": "plan",
                      "amount": 1499,
                      "created": 1406556583,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Test Plan",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_18TH5X2nHroS7mLXfpQCHkzk/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1467577271,
              "period_start": 1467577271,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_8kmeGNYbtE9YhG",
              "subtotal": 1499,
              "tax": 315,
              "tax_percent": 21.0,
              "total": 1814,
              "webhooks_delivered_at": null
            }
          ],
          "has_more": false,
          "url": "/v1/invoices"
        }
  recorded_at: Wed, 20 Jan 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_18TH5X2nHroS7mLXfpQCHkzk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8kmedkOJukMoKS/subscriptions/sub_8kmeGNYbtE9YhG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_18TH5X2nHroS7mLXnmUX8w2B
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18TH5X2nHroS7mLXnmUX8w2B",
          "object": "charge",
          "amount": 1814,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18TH5X2nHroS7mLXiXdJtL5e",
          "captured": true,
          "created": 1467577271,
          "currency": "usd",
          "customer": "cus_8kmedkOJukMoKS",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": "in_18TH5X2nHroS7mLXfpQCHkzk",
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18TH5X2nHroS7mLXnmUX8w2B/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18TH5T2nHroS7mLXOPgGQPBL",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_8kmedkOJukMoKS",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 20 Jan 2016 00:00:00 GMT
[...]
