---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[name]=John%20Doe&metadata[vat_number]=NL1234&metadata[address]=Doestreet
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1412016750,
          "id": "cus_4rt22IaqcvQQUh",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "name": "John Doe",
            "vat_number": "NL1234",
            "address": "Doestreet"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4rt22IaqcvQQUh/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4rt22IaqcvQQUh/cards",
            "data": [
              {
                "id": "card_14i9G62nHroS7mLXVXnKOq0E",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4rt22IaqcvQQUh",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14i9G62nHroS7mLXVXnKOq0E"
        }
  recorded_at: Mon, 29 Sep 2014 18:52:30 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 29 Sep 2014 18:52:32 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4rt22IaqcvQQUh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4rt22IaqcvQQUh&amount=315&currency=usd&description=VAT%20(21%25)&metadata[type]=vat&metadata[amount]=315&metadata[rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14i9GB2nHroS7mLXVC3zp65H",
          "date": 1412016755,
          "amount": 315,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4rt22IaqcvQQUh",
          "description": "VAT (21%)",
          "metadata": {
            "type": "vat",
            "amount": "315",
            "rate": "21"
          },
          "invoice": null,
          "subscription": null
        }
  recorded_at: Mon, 29 Sep 2014 18:52:35 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4rt22IaqcvQQUh/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4rt2ZJ6LNKIzTt",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406556583,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1412016756,
          "status": "active",
          "customer": "cus_4rt22IaqcvQQUh",
          "cancel_at_period_end": false,
          "current_period_start": 1412016756,
          "current_period_end": 1414608756,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Mon, 29 Sep 2014 18:52:37 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4rt22IaqcvQQUh&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1412016756,
              "id": "in_14i9GC2nHroS7mLXpiwjJ1E9",
              "period_start": 1412016756,
              "period_end": 1412016756,
              "lines": {
                "object": "list",
                "total_count": 2,
                "has_more": false,
                "url": "/v1/invoices/in_14i9GC2nHroS7mLXpiwjJ1E9/lines",
                "data": [
                  {
                    "id": "ii_14i9GB2nHroS7mLXVC3zp65H",
                    "object": "line_item",
                    "type": "invoiceitem",
                    "livemode": false,
                    "amount": 315,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1412016755,
                      "end": 1412016755
                    },
                    "quantity": null,
                    "plan": null,
                    "description": "VAT (21%)",
                    "metadata": {
                      "type": "vat",
                      "amount": "315",
                      "rate": "21"
                    }
                  },
                  {
                    "id": "sub_4rt2ZJ6LNKIzTt",
                    "object": "line_item",
                    "type": "subscription",
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4rt22IaqcvQQUh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_14i9GC2nHroS7mLXpiwjJ1E9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_14i9GC2nHroS7mLXJP9m0W4Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14i9GC2nHroS7mLXJP9m0W4Z",
          "object": "charge",
          "created": 1412016756,
          "livemode": false,
          "paid": true,
          "amount": 1814,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14i9G62nHroS7mLXVXnKOq0E",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4rt22IaqcvQQUh",
            "type": "Visa"
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_14i9GC2nHroS7mLXwTK0zZpB",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_4rt22IaqcvQQUh",
          "invoice": "in_14i9GC2nHroS7mLXpiwjJ1E9",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null
        }
  recorded_at: Mon, 29 Sep 2014 18:52:41 GMT
recorded_with: VCR 2.9.2
