---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=US&metadata[vat_registered]=false&metadata[name]=John%20Doe&metadata[address]=Doestreet
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1412000452,
          "id": "cus_4roeORhowQs0QM",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "US",
            "vat_registered": "false",
            "name": "John Doe",
            "address": "Doestreet"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4roeORhowQs0QM/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4roeORhowQs0QM/cards",
            "data": [
              {
                "id": "card_14i51E2nHroS7mLXzBlLEku3",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4roeORhowQs0QM",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14i51E2nHroS7mLXzBlLEku3"
        }
  recorded_at: Mon, 29 Sep 2014 14:20:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Mon, 29 Sep 2014 14:20:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "created": 1410521489,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 67,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Mon, 29 Sep 2014 14:20:54 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4roeORhowQs0QM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4roeORhowQs0QM/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4roeRTQJOCzirQ",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406556583,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1412000456,
          "status": "active",
          "customer": "cus_4roeORhowQs0QM",
          "cancel_at_period_end": false,
          "current_period_start": 1412000456,
          "current_period_end": 1414592456,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": {
            "coupon": {
              "id": "25OFF",
              "created": 1410521489,
              "percent_off": 25,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "repeating",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 68,
              "duration_in_months": 3,
              "valid": true,
              "metadata": {}
            },
            "start": 1412000456,
            "object": "discount",
            "customer": "cus_4roeORhowQs0QM",
            "subscription": "sub_4roeRTQJOCzirQ",
            "end": 1419862856
          },
          "metadata": {}
        }
  recorded_at: Mon, 29 Sep 2014 14:20:57 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4roeORhowQs0QM&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1412000456,
              "id": "in_14i51I2nHroS7mLXdJTvYAJN",
              "period_start": 1412000456,
              "period_end": 1412000456,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_14i51I2nHroS7mLXdJTvYAJN/lines",
                "data": [
                  {
                    "id": "sub_4roeRTQJOCzirQ",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 1499,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1412000456,
                      "end": 1414592456
                    },
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Test Plan",
                      "created": 1406556583,
                      "amount": 1499,
                      "currency": "usd",
                      "id": "test",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ],
                "count": 1
              },
              "subtotal": 1499,
              "total": 1124,
              "customer": "cus_4roeORhowQs0QM",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 1,
              "amount_due": 1124,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": 1412000457,
              "charge": "ch_14i51I2nHroS7mLXXeFGuCXe",
              "discount": {
                "coupon": {
                  "id": "25OFF",
                  "created": 1410521489,
                  "percent_off": 25,
                  "amount_off": null,
                  "currency": null,
                  "object": "coupon",
                  "livemode": false,
                  "duration": "repeating",
                  "redeem_by": null,
                  "max_redemptions": null,
                  "times_redeemed": 68,
                  "duration_in_months": 3,
                  "valid": true,
                  "metadata": {}
                },
                "start": 1412000456,
                "object": "discount",
                "customer": "cus_4roeORhowQs0QM",
                "subscription": "sub_4roeRTQJOCzirQ",
                "end": 1419862856
              },
              "application_fee": null,
              "subscription": "sub_4roeRTQJOCzirQ",
              "metadata": {},
              "statement_description": null,
              "description": null
            }
          ],
          "count": 1
        }
  recorded_at: Mon, 29 Sep 2014 14:20:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4roeORhowQs0QM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_14i51I2nHroS7mLXdJTvYAJN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_14i51I2nHroS7mLXXeFGuCXe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14i51I2nHroS7mLXXeFGuCXe",
          "object": "charge",
          "created": 1412000456,
          "livemode": false,
          "paid": true,
          "amount": 1124,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14i51E2nHroS7mLXzBlLEku3",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4roeORhowQs0QM",
            "type": "Visa"
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_14i51I2nHroS7mLX7U4QNKq6",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_4roeORhowQs0QM",
          "invoice": "in_14i51I2nHroS7mLXdJTvYAJN",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null,
          "receipt_number": null
        }
  recorded_at: Mon, 29 Sep 2014 14:21:01 GMT
recorded_with: VCR 2.9.2
