---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=US&metadata[vat_registered]=false&metadata[name]=John%20Doe&metadata[vat_number]=NL1234&metadata[address]=Doestreet
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1429191334,
          "id": "cus_64Lr6b2AOEwlzd",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "US",
            "vat_registered": "false",
            "name": "John Doe",
            "vat_number": "NL1234",
            "address": "Doestreet"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_64Lr6b2AOEwlzd/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_64Lr6b2AOEwlzd/cards",
            "data": [
              {
                "id": "card_15sD9W2nHroS7mLXz7infOYd",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_64Lr6b2AOEwlzd",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_15sD9W2nHroS7mLXz7infOYd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_64Lr6b2AOEwlzd/sources",
            "data": [
              {
                "id": "card_15sD9W2nHroS7mLXz7infOYd",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_64Lr6b2AOEwlzd",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_source": "card_15sD9W2nHroS7mLXz7infOYd"
        }
  recorded_at: Thu, 16 Apr 2015 13:35:34 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_descriptor": null,
          "statement_description": null
        }
  recorded_at: Thu, 16 Apr 2015 13:35:35 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "created": 1410521489,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 88,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Thu, 16 Apr 2015 13:35:36 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_64Lr6b2AOEwlzd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "custom[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_64Lr6b2AOEwlzd/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_64LrXdxQtxbdlF",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406556583,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_descriptor": null,
            "statement_description": null
          },
          "object": "subscription",
          "start": 1429191338,
          "status": "active",
          "customer": "cus_64Lr6b2AOEwlzd",
          "cancel_at_period_end": false,
          "current_period_start": 1429191338,
          "current_period_end": 1431783338,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": {
            "coupon": {
              "id": "25OFF",
              "created": 1410521489,
              "percent_off": 25,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "repeating",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 89,
              "duration_in_months": 3,
              "valid": true,
              "metadata": {}
            },
            "start": 1429191338,
            "object": "discount",
            "customer": "cus_64Lr6b2AOEwlzd",
            "subscription": "sub_64LrXdxQtxbdlF",
            "end": 1437053738
          },
          "tax_percent": null,
          "metadata": {}
        }
  recorded_at: Thu, 16 Apr 2015 13:35:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_64Lr6b2AOEwlzd&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1429191338,
              "id": "in_15sD9a2nHroS7mLXLKkZhAd9",
              "period_start": 1429191338,
              "period_end": 1429191338,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_15sD9a2nHroS7mLXLKkZhAd9/lines",
                "data": [
                  {
                    "id": "sub_64LrXdxQtxbdlF",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 1499,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1429191338,
                      "end": 1431783338
                    },
                    "subscription": null,
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Test Plan",
                      "created": 1406556583,
                      "amount": 1499,
                      "currency": "usd",
                      "id": "test",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_descriptor": null,
                      "statement_description": null
                    },
                    "description": null,
                    "discountable": true,
                    "metadata": {}
                  }
                ],
                "count": 1
              },
              "subtotal": 1499,
              "total": 1124,
              "customer": "cus_64Lr6b2AOEwlzd",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 1,
              "amount_due": 1124,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": null,
              "charge": "ch_15sD9a2nHroS7mLXJVL4JRae",
              "discount": {
                "coupon": {
                  "id": "25OFF",
                  "created": 1410521489,
                  "percent_off": 25,
                  "amount_off": null,
                  "currency": null,
                  "object": "coupon",
                  "livemode": false,
                  "duration": "repeating",
                  "redeem_by": null,
                  "max_redemptions": null,
                  "times_redeemed": 89,
                  "duration_in_months": 3,
                  "valid": true,
                  "metadata": {}
                },
                "start": 1429191338,
                "object": "discount",
                "customer": "cus_64Lr6b2AOEwlzd",
                "subscription": "sub_64LrXdxQtxbdlF",
                "end": 1437053738
              },
              "application_fee": null,
              "subscription": "sub_64LrXdxQtxbdlF",
              "tax_percent": null,
              "tax": null,
              "metadata": {},
              "statement_descriptor": null,
              "description": null,
              "receipt_number": null,
              "statement_description": null
            }
          ],
          "count": 1
        }
  recorded_at: Thu, 16 Apr 2015 13:35:41 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_64Lr6b2AOEwlzd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object":[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15sD9a2nHroS7mLXLKkZhAd9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_15sD9a2nHroS7mLXJVL4JRae
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15sD9a2nHroS7mLXJVL4JRae",
          "object": "charge",
          "created": 1429191338,
          "livemode": false,
          "paid": true,
          "status": "paid",
          "amount": 1124,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_15sD9W2nHroS7mLXz7infOYd",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_64Lr6b2AOEwlzd",
            "type": "Visa"
          },
          "captured": true,
          "card": {
            "id": "card_15sD9W2nHroS7mLXz7infOYd",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": "cus_64Lr6b2AOEwlzd",
            "type": "Visa"
          },
          "balance_transaction": "txn_15sD9a2nHroS7mLXnd85QyQG",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_64Lr6b2AOEwlzd",
          "invoice": "in_15sD9a2nHroS7mLXLKkZhAd9",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "application_fee": null,
          "refunds": [],
          "statement_description": null
        }
  recorded_at: Thu, 16 Apr 2015 13:35:44 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges/ch_15sD9a2nHroS7mLXJVL4JRae/refund
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          [...]
[...]
