---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=US&metadata[vat_registered]=false&metadata[name]=John%20Doe&metadata[vat_number]=NL1234&metadata[address]=Doestreet
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8H6X3JWc34UMRp",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1460732019,
          "currency": null,
          "default_source": "card_180YKF2nHroS7mLX6CS1hIbS",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "country_code": "US",
            "vat_registered": "false",
            "name": "John Doe",
            "vat_number": "NL1234",
            "address": "Doestreet"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_180YKF2nHroS7mLX6CS1hIbS",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8H6X3JWc34UMRp",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8H6X3JWc34UMRp/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8H6X3JWc34UMRp/subscriptions"
          }
        }
  recorded_at: Wed, 20 Jan 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test",
          "object": "plan",
          "amount": 1499,
          "created": 1406556583,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Test Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Wed, 20 Jan 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8H6X3JWc34UMRp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      stri[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8H6X3JWc34UMRp/subscriptions
    body:
      encoding: US-ASCII
      string: tax_percent=21&plan=test
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8H6Xf1BPdQmhFP",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1463324022,
          "current_period_start": 1460732022,
          "customer": "cus_8H6X3JWc34UMRp",
          "discount": null,
          "ended_at": null,
          "metadata": {},
          "plan": {
            "id": "test",
            "object": "plan",
            "amount": 1499,
            "created": 1406556583,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Test Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1460732022,
          "status": "active",
          "tax_percent": 21.0,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Wed, 20 Jan 2016 00:00:00 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test2",
          "object": "plan",
          "amount": 2000,
          "created": 1411731115,
          "currency": "usd",
          "interval": "year",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Test2 Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Wed, 20 Jan 2016 00:00:00 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8H6X3JWc34UMRp/subscriptions/sub_8H6Xf1BPdQmhFP
    body:
      encoding: US-ASCII
      string: plan=test2
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8H6X3JWc34UMRp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_180YKK2nHroS7mLXwDh5VEbo",
              "object": "invoice",
              "amount_due": 606,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_180YKK2nHroS7mLXlYQf3Pr7",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8H6X3JWc34UMRp",
              "date": 1460732024,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "ii_180YKK2nHroS7mLXbjGWCx4m",
                    "object": "line_item",
                    "amount": -1499,
                    "currency": "usd",
                    "description": "Unused time on Test Plan after 15 Apr 2016",
                    "discountable": false,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1460732024,
                      "end": 1463324022
                    },
                    "plan": {
                      "id": "test",
                      "object": "plan",
                      "amount": 1499,
                      "created": 1406556583,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Test Plan",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": true,
                    "quantity": 1,
                    "subscription": "sub_8H6Xf1BPdQmhFP",
                    "type": "invoiceitem"
                  },
                  {
                    "id": "sub_8H6Xf1BPdQmhFP",
                    "object": "line_item",
                    "amount": 2000,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1460732024,
                      "end": 1492268024
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_180YKK2nHroS7mLXwDh5VEbo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
  [...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_180YKK2nHroS7mLXlYQf3Pr7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_180YKK2nHroS7mLXlYQf3Pr7",
          "object": "charge",
          "amount": 606,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_180YKK2nHroS7mLXCP2Vfi99",
          "captured": true,
          "created": 1460732024,
          "currency": "usd",
          "customer": "cus_8H6X3JWc34UMRp",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": "in_180YKK2nHroS7mLXwDh5VEbo",
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_180YKK2nHroS7mLXlYQf3Pr7/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_180YKF2nHroS7mLX6CS1hIbS",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_8H6X3JWc34UMRp",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 20 Jan 2016 00:00:00 GMT
[...]
