---
http_interactions:
- request:
    method: get
    uri: http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 05 Apr 2016 12:30:38 GMT
      Etag:
      - '"658-52fbc03395780"'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<gesmes:Envelope xmlns:gesmes=\"http://www.gesmes.org/xml/2002-08-01\"
        xmlns=\"http://www.ecb.int/vocabulary/2002-08-01/eurofxref\">\n\t<gesmes:subject>Reference
        rates</gesmes:subject>\n\t<gesmes:Sender>\n\t\t<gesmes:name>European Central
        Bank</gesmes:name>\n\t</gesmes:Sender>\n\t<Cube>\n\t\t<Cube time='2016-04-05'>\n\t\t\t<Cube
        currency='USD' rate='1.1367'/>\n\t\t\t<Cube currency='JPY' rate='125.81'/>\n\t\t\t<Cube
        currency='BGN' rate='1.9558'/>\n\t\t\t<Cube currency='CZK' rate='27.036'/>\n\t\t\t<Cube
        currency='DKK' rate='7.4421'/>\n\t\t\t<Cube currency='GBP' rate='0.80160'/>\n\t\t\t<Cube
        currency='HUF' rate='312.62'/>\n\t\t\t<Cube currency='PLN' rate='4.2448'/>\n\t\t\t<Cube
        currency='RON' rate='4.4660'/>\n\t\t\t<Cube currency='SEK' rate[...]
