---
http_interactions:
- request:
    method: get
    uri: https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Tue, 25 Feb 2020 14:55:12 GMT
      Etag:
      - '"682-59f67acc116eb"'
      X-Cdn:
      - '1'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<gesmes:Envelope xmlns:gesmes=\"http://www.gesmes.org/xml/2002-08-01\"
        xmlns=\"http://www.ecb.int/vocabulary/2002-08-01/eurofxref\">\n\t<gesmes:subject>Reference
        rates</gesmes:subject>\n\t<gesmes:Sender>\n\t\t<gesmes:name>European Central
        Bank</gesmes:name>\n\t</gesmes:Sender>\n\t<Cube>\n\t\t<Cube time='2020-02-25'>\n\t\t\t<Cube
        currency='USD' rate='1.0840'/>\n\t\t\t<Cube currency='JPY' rate='119.92'/>\n\t\t\t<Cube
        currency='BGN' rate='1.9558'/>\n\t\t\t<Cube currency='CZK' rate='25.226'/>\n\t\t\t<Cube
        currency='DKK' rate='7.4701'/>\n\t\t\t<Cube currency='GBP' rate='0.83630'/>\n\t\t\t<Cube
        currency='HUF' rate='337.41'/>\n\t\t\t<Cube currency='PLN' rate='4.3012'/>\n\t\t\t<Cube
        currency='RON' rate='4.8098'/>\n\t\t\t<Cube currency='SEK' rate[...]
