---
http_interactions:
- request:
    method: get
    uri: https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Mon, 17 Sep 2018 13:55:12 GMT
      Etag:
      - '"681-5761185a11000"'
      X-Cdn:
      - '1'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<gesmes:Envelope xmlns:gesmes=\"http://www.gesmes.org/xml/2002-08-01\"
        xmlns=\"http://www.ecb.int/vocabulary/2002-08-01/eurofxref\">\n\t<gesmes:subject>Reference
        rates</gesmes:subject>\n\t<gesmes:Sender>\n\t\t<gesmes:name>European Central
        Bank</gesmes:name>\n\t</gesmes:Sender>\n\t<Cube>\n\t\t<Cube time='2018-09-17'>\n\t\t\t<Cube
        currency='USD' rate='1.1671'/>\n\t\t\t<Cube currency='JPY' rate='130.79'/>\n\t\t\t<Cube
        currency='BGN' rate='1.9558'/>\n\t\t\t<Cube currency='CZK' rate='25.457'/>\n\t\t\t<Cube
        currency='DKK' rate='7.4594'/>\n\t\t\t<Cube currency='GBP' rate='0.88875'/>\n\t\t\t<Cube
        currency='HUF' rate='324.50'/>\n\t\t\t<Cube currency='PLN' rate='4.2955'/>\n\t\t\t<Cube
        currency='RON' rate='4.6431'/>\n\t\t\t<Cube currency='SEK' rate[...]
