---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1410908961,
          "id": "cus_4n5FUE011yCkgi",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4n5FUE011yCkgi/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4n5FUE011yCkgi/cards",
            "data": [
              {
                "id": "card_14dV4X2nHroS7mLX3OUc2P38",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4n5FUE011yCkgi",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14dV4X2nHroS7mLX3OUc2P38"
        }
  recorded_at: Tue, 16 Sep 2014 23:09:22 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1406556583,
          "amount": 1499,
          "currency": "usd",
          "id": "test",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Tue, 16 Sep 2014 23:09:22 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4n5FUE011yCkgi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4n5FUE011yCkgi/subscriptions
    body:
      encoding: US-ASCII
      string: plan=test
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4n5FV20I0VKn0m",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1406556583,
            "amount": 1499,
            "currency": "usd",
            "id": "test",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1410908965,
          "status": "active",
          "customer": "cus_4n5FUE011yCkgi",
          "cancel_at_period_end": false,
          "current_period_start": 1410908965,
          "current_period_end": 1413500965,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": null,
          "metadata": {}
        }
  recorded_at: Tue, 16 Sep 2014 23:09:26 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4n5FUE011yCkgi&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1410908965,
              "id": "in_14dV4b2nHroS7mLX4PxpvCjz",
              "period_start": 1410908965,
              "period_end": 1410908965,
              "lines": {
                "object": "list",
                "total_count": 1,
                "has_more": false,
                "url": "/v1/invoices/in_14dV4b2nHroS7mLX4PxpvCjz/lines",
                "data": [
                  {
                    "id": "sub_4n5FV20I0VKn0m",
                    "object": "line_item",
                    "type": "subscription",
                    "livemode": false,
                    "amount": 1499,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1410908965,
                      "end": 1413500965
                    },
                    "quantity": 1,
                    "plan": {
                      "interval": "month",
                      "name": "Test Plan",
                      "created": 1406556583,
                      "amount": 1499,
                      "currency": "usd",
                      "id": "test",
                      "object": "plan",
                      "livemode": false,
                      "interval_count": 1,
                      "trial_period_days": null,
                      "metadata": {},
                      "statement_description": null
                    },
                    "description": null,
                    "metadata": {}
                  }
                ],
                "count": 1
              },
              "subtotal": 1499,
              "total": 1499,
              "customer": "cus_4n5FUE011yCkgi",
              "object": "invoice",
              "attempted": true,
              "closed": true,
              "forgiven": false,
              "paid": true,
              "livemode": false,
              "attempt_count": 1,
              "amount_due": 1499,
              "currency": "usd",
              "starting_balance": 0,
              "ending_balance": 0,
              "next_payment_attempt": null,
              "webhooks_delivered_at": 1410908966,
              "charge": "ch_14dV4b2nHroS7mLXt6mTyCHQ",
              "discount": null,
              "application_fee": null,
              "subscription": "sub_4n5FV20I0VKn0m",
              "metadata": {},
              "statement_description": null,
              "description": null
            }
          ],
          "count": 1
        }
  recorded_at: Tue, 16 Sep 2014 23:09:27 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_14dV4b2nHroS7mLX4PxpvCjz
    body:
      encoding: US-ASCII
      string: metadata[vat_amount]=0&metadata[vat_rate]=0
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encod[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_14dV4b2nHroS7mLXt6mTyCHQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_14dV4b2nHroS7mLXt6mTyCHQ",
          "object": "charge",
          "created": 1410908965,
          "livemode": false,
          "paid": true,
          "amount": 1499,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_14dV4X2nHroS7mLX3OUc2P38",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": "cus_4n5FUE011yCkgi",
            "type": "Visa"
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_14dV4b2nHroS7mLXpEe0X4Q1",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_4n5FUE011yCkgi",
          "invoice": "in_14dV4b2nHroS7mLX4PxpvCjz",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Tue, 16 Sep 2014 23:09:32 GMT
recorded_with: VCR 2.9.2
