---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[vat_number]=NL123&metadata[accounting_id]=10001&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8H6V4GYMSiuRwm",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1460731908,
          "currency": null,
          "default_source": "card_180YIS2nHroS7mLXjO69BkqG",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "vat_number": "NL123",
            "accounting_id": "10001",
            "other": "random"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_180YIS2nHroS7mLXjO69BkqG",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8H6V4GYMSiuRwm",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8H6V4GYMSiuRwm/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8H6V4GYMSiuRwm/subscriptions"
          }
        }
  recorded_at: Fri, 15 Apr 2016 14:51:49 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test_yearly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "No such plan: test_yearly",
            "param": "id"
          }
        }
  recorded_at: Fri, 15 Apr 2016 14:51:49 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/plans
    body:
      encoding: US-ASCII
      string: id=test_yearly&name=Test%20Yearly%20Plan&amount=10000&currency=usd&interval=year
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test_yearly",
          "object": "plan",
          "amount": 10000,
          "created": 1460731910,
          "currency": "usd",
          "interval": "year",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Test Yearly Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Fri, 15 Apr 2016 14:51:50 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8H6V4GYMSiuRwm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      stri[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8H6V4GYMSiuRwm/subscriptions
    body:
      encoding: US-ASCII
      string: tax_percent=21&plan=test_yearly
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8H6Vn69PKIB50u",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1492267912,
          "current_period_start": 1460731912,
          "customer": "cus_8H6V4GYMSiuRwm",
          "discount": null,
          "ended_at": null,
          "metadata": {},
          "plan": {
            "id": "test_yearly",
            "object": "plan",
            "amount": 10000,
            "created": 1460731910,
            "currency": "usd",
            "interval": "year",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Test Yearly Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1460731912,
          "status": "active",
          "tax_percent": 21.0,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Fri, 15 Apr 2016 14:51:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8H6V4GYMSiuRwm&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_180YIW2nHroS7mLX0dROfIRC",
              "object": "invoice",
              "amount_due": 12100,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_180YIW2nHroS7mLXqTEceS4Z",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8H6V4GYMSiuRwm",
              "date": 1460731912,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_8H6Vn69PKIB50u",
                    "object": "line_item",
                    "amount": 10000,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1460731912,
                      "end": 1492267912
                    },
                    "plan": {
                      "id": "test_yearly",
                      "object": "plan",
                      "amount": 10000,
                      "created": 1460731910,
                      "currency": "usd",
                      "interval": "year",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Test Yearly Plan",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_180YIW2nHroS7mLX0dROfIRC/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1460731912,
              "period_start": 1460731912,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_8H6Vn69PKIB50u",
              "subtotal": 10000,
              "tax": 2100,
              "tax_percent": 21.0,
              "total": 12100,
              "webhooks_delivered_at": null
            }
          ],
          "has_more": false,
          "url": "/v1/invoices"
        }
  recorded_at: Fri, 15 Apr 2016 14:51:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_180YIW2nHroS7mLX0dROfIRC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8H6V4GYMSiuRwm/subscriptions/sub_8H6Vn69PKIB50u
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_180YIW2nHroS7mLXqTEceS4Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_180YIW2nHroS7mLXqTEceS4Z",
          "object": "charge",
          "amount": 12100,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_180YIW2nHroS7mLXwMAm6Mt0",
          "captured": true,
          "created": 1460731912,
          "currency": "usd",
          "customer": "cus_8H6V4GYMSiuRwm",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": "in_180YIW2nHroS7mLX0dROfIRC",
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_180YIW2nHroS7mLXqTEceS4Z/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_180YIS2nHroS7mLXjO69BkqG",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_8H6V4GYMSiuRwm",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 15 Apr 2016 14:51:56 GMT
recorded_with: VCR 2.9.2
