---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[vat_number]=NL123&metadata[accounting_id]=10001&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8H6SdBqcsYkWn3",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1460731709,
          "currency": null,
          "default_source": "card_180YFF2nHroS7mLXocVvifkR",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "vat_number": "NL123",
            "accounting_id": "10001",
            "other": "random"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_180YFF2nHroS7mLXocVvifkR",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8H6SdBqcsYkWn3",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8H6SdBqcsYkWn3/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8H6SdBqcsYkWn3/subscriptions"
          }
        }
  recorded_at: Fri, 15 Apr 2016 14:48:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_8H6SdBqcsYkWn3&amount=100&currency=usd
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_180YFG2nHroS7mLX96JH3Z6o",
          "object": "invoiceitem",
          "amount": 100,
          "currency": "usd",
          "customer": "cus_8H6SdBqcsYkWn3",
          "date": 1460731710,
          "description": null,
          "discountable": true,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1460731710,
            "end": 1460731710
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Fri, 15 Apr 2016 14:48:31 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_8H6SdBqcsYkWn3
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_180YFH2nHroS7mLXjSLPFkEM",
          "object": "invoice",
          "amount_due": 100,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "charge": null,
          "closed": false,
          "currency": "usd",
          "customer": "cus_8H6SdBqcsYkWn3",
          "date": 1460731711,
          "description": null,
          "discount": null,
          "ending_balance": null,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_180YFG2nHroS7mLX96JH3Z6o",
                "object": "line_item",
                "amount": 100,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1460731710,
                  "end": 1460731710
                },
                "plan": null,
                "proration": false,
                "quantity": null,
                "subscription": null,
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_180YFH2nHroS7mLXjSLPFkEM/lines"
          },
          "livemode": false,
          "metadata": {},
          "next_payment_attempt": 1460735311,
          "paid": false,
          "period_end": 1460731711,
          "period_start": 1460731711,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "subscription": null,
          "subtotal": 100,
          "tax": null,
          "tax_percent": null,
          "total": 100,
          "webhooks_delivered_at": null
        }
  recorded_at: Fri, 15 Apr 2016 14:48:33 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_180YFH2nHroS7mLXjSLPFkEM/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_180YFH2nHroS7mLXjSLPFkEM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8H6SdBqcsYkWn3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      stri[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_180YFK2nHroS7mLXbUejs82q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_180YFK2nHroS7mLXbUejs82q",
          "object": "charge",
          "amount": 100,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_180YFK2nHroS7mLXUTeZNC3U",
          "captured": true,
          "created": 1460731714,
          "currency": "usd",
          "customer": "cus_8H6SdBqcsYkWn3",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": "in_180YFH2nHroS7mLXjSLPFkEM",
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_180YFK2nHroS7mLXbUejs82q/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_180YFF2nHroS7mLXocVvifkR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_8H6SdBqcsYkWn3",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 15 Apr 2016 14:48:36 GMT
recorded_with: VCR 2.9.2
