---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[vat_number]=NL123&metadata[accounting_id]=10001&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Go1yDOrfcjRvnZ",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1582723603,
          "currency": null,
          "default_source": "card_1GGPuR2nHroS7mLXwZJOXt6L",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "298B5482",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "vat_number": "NL123",
            "accounting_id": "10001",
            "other": "random"
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1GGPuR2nHroS7mLXwZJOXt6L",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Go1yDOrfcjRvnZ",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Go1yDOrfcjRvnZ/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Go1yDOrfcjRvnZ/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Go1yDOrfcjRvnZ/tax_ids"
          }
        }
  recorded_at: Wed, 26 Feb 2020 13:26:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: customer=cus_Go1yDOrfcjRvnZ&amount=-100&currency=usd
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_1GGPuR2nHroS7mLXs1RLKpWT",
          "object": "invoiceitem",
          "amount": -100,
          "currency": "usd",
          "customer": "cus_Go1yDOrfcjRvnZ",
          "date": 1582723603,
          "description": null,
          "discountable": false,
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "period": {
            "end": 1582723603,
            "start": 1582723603
          },
          "plan": null,
          "proration": false,
          "quantity": 1,
          "subscription": null,
          "tax_rates": [

          ],
          "unit_amount": -100,
          "unit_amount_decimal": "-100"
        }
  recorded_at: Wed, 26 Feb 2020 13:26:44 GMT
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_Go1yDOrfcjRvnZ
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_1GGPuS2nHroS7mLXYAnGKdHv",
          "object": "invoice",
          "account_country": "BE",
          "account_name": "PieSync",
          "amount_due": 0,
          "amount_paid": 0,
          "amount_remaining": 0,
          "application_fee_amount": null,
          "attempt_count": 0,
          "attempted": false,
          "auto_advance": false,
          "billing_reason": "manual",
          "charge": null,
          "collection_method": "charge_automatically",
          "created": 1582723604,
          "currency": "usd",
          "custom_fields": null,
          "customer": "cus_Go1yDOrfcjRvnZ",
          "customer_address": null,
          "customer_email": null,
          "customer_name": null,
          "customer_phone": null,
          "customer_shipping": null,
          "customer_tax_exempt": "none",
          "customer_tax_ids": [

          ],
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "description": null,
          "discount": null,
          "due_date": null,
          "ending_balance": null,
          "footer": null,
          "hosted_invoice_url": null,
          "invoice_pdf": null,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "il_1GGPuS2nHroS7mLXYY96jM1y",
                "object": "line_item",
                "amount": 100,
                "currency": "usd",
                "description": null,
                "discountable": true,
                "invoice_item": "ii_1GGPuS2nHroS7mLXlESb392u",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1582723604,
                  "start": 1582723604
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "tax_amounts": [

                ],
                "tax_rates": [

                ],
                "type": "invoiceitem"
              },
              {
                "id": "il_1GGPuR2nHroS7mLXWxaXAtdy",
                "object": "line_item",
                "amount": -100,
                "currency": "usd",
                "description": null,
                "discountable": false,
                "invoice_item": "ii_1GGPuR2nHroS7mLXs1RLKpWT",
                "livemode": false,
                "metadata": {
                },
                "period": {
                  "end": 1582723603,
                  "start": 1582723603
                },
                "plan": null,
                "proration": false,
                "quantity": 1,
                "subscription": null,
                "tax_amounts": [

                ],
                "tax_rates": [

                ],
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 2,
            "url": "/v1/invoices/in_1GGPuS2nHroS7mLXYAnGKdHv/lines"
          },
          "livemode": false,
          "metadata": {
          },
          "next_payment_attempt": null,
          "number": "298B5482-0001",
          "paid": false,
          "payment_intent": null,
          "period_end": 1582723604,
          "period_start": 1582723604,
          "post_payment_credit_notes_amount": 0,
          "pre_payment_credit_notes_amount": 0,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "status": "draft",
          "status_transitions": {
            "finalized_at": null,
            "marked_uncollectible_at": null,
            "paid_at": null,
            "voided_at": null
          },
          "subscription": null,
          "subtotal": 0,
          "tax": null,
          "tax_percent": null,
          "total": 0,
          "total_tax_amounts": [

          ],
          "webhooks_delivered_at": null
        }
  recorded_at: Wed, 26 Feb 2020 13:26:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_1GGPuS2nHroS7mLXYAnGKdHv/pay
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_Go1yDOrfcjRvnZ&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1GGPuS2nHroS7mLXYAnGKdHv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Go1yDOrfcjRvnZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      stri[...]
