---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card[cvc]=222&card[exp_month]=12&card[exp_year]=30&card[number]=4242424242424242&metadata[accounting_id]=10001&metadata[country_code]=NL&metadata[other]=random&metadata[vat_number]=NL123&metadata[vat_registered]=false
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9cdEHzYtexyrb3",
          "object": "customer",
          "account_balance": 0,
          "created": 1479996765,
          "currency": null,
          "default_source": "card_19JNxx2nHroS7mLXLjiJQBQW",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "accounting_id": "10001",
            "country_code": "NL",
            "other": "random",
            "vat_number": "NL123",
            "vat_registered": "false"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19JNxx2nHroS7mLXLjiJQBQW",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9cdEHzYtexyrb3",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9cdEHzYtexyrb3/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9cdEHzYtexyrb3/subscriptions"
          }
        }
  recorded_at: Thu, 24 Nov 2016 14:12:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: UTF-8
      string: amount=-100&currency=usd&customer=cus_9cdEHzYtexyrb3
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ii_19JNxy2nHroS7mLXo3rrSBXU",
          "object": "invoiceitem",
          "amount": -100,
          "currency": "usd",
          "customer": "cus_9cdEHzYtexyrb3",
          "date": 1479996766,
          "description": null,
          "discountable": false,
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "period": {
            "start": 1479996766,
            "end": 1479996766
          },
          "plan": null,
          "proration": false,
          "quantity": null,
          "subscription": null
        }
  recorded_at: Thu, 24 Nov 2016 14:12:46 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: UTF-8
      string: customer=cus_9cdEHzYtexyrb3&metadata[balance]=true
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "in_19JNxz2nHroS7mLXX8Q9Tzbj",
          "object": "invoice",
          "amount_due": 0,
          "application_fee": null,
          "attempt_count": 0,
          "attempted": false,
          "charge": null,
          "closed": false,
          "currency": "usd",
          "customer": "cus_9cdEHzYtexyrb3",
          "date": 1479996767,
          "description": null,
          "discount": null,
          "ending_balance": null,
          "forgiven": false,
          "lines": {
            "object": "list",
            "data": [
              {
                "id": "ii_19JNxy2nHroS7mLXo3rrSBXU",
                "object": "line_item",
                "amount": -100,
                "currency": "usd",
                "description": null,
                "discountable": false,
                "livemode": false,
                "metadata": {},
                "period": {
                  "start": 1479996766,
                  "end": 1479996766
                },
                "plan": null,
                "proration": false,
                "quantity": null,
                "subscription": null,
                "type": "invoiceitem"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/invoices/in_19JNxz2nHroS7mLXX8Q9Tzbj/lines"
          },
          "livemode": false,
          "metadata": {
            "balance": "true"
          },
          "next_payment_attempt": 1480000367,
          "paid": false,
          "period_end": 1479996767,
          "period_start": 1479996767,
          "receipt_number": null,
          "starting_balance": 0,
          "statement_descriptor": null,
          "subscription": null,
          "subtotal": -100,
          "tax": null,
          "tax_percent": null,
          "total": -100,
          "webhooks_delivered_at": null
        }
  recorded_at: Thu, 24 Nov 2016 14:12:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_19JNxz2nHroS7mLXX8Q9Tzbj/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: U[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_9cdEHzYtexyrb3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_19JNxz2nHroS7mLXX8Q9Tzbj
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
  [...]
