---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card[cvc]=222&card[exp_month]=12&card[exp_year]=30&card[number]=4242424242424242&metadata[accounting_id]=10001&metadata[country_code]=NL&metadata[other]=random&metadata[vat_number]=NL123&metadata[vat_registered]=false
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8oMiVdZzzNsbel",
          "object": "customer",
          "account_balance": 0,
          "created": 1468403338,
          "currency": null,
          "default_source": "card_18WjzC2nHroS7mLX0dISEwPb",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "accounting_id": "10001",
            "country_code": "NL",
            "other": "random",
            "vat_number": "NL123",
            "vat_registered": "false"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_18WjzC2nHroS7mLX0dISEwPb",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8oMiVdZzzNsbel",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8oMiVdZzzNsbel/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8oMiVdZzzNsbel/subscriptions"
          }
        }
  recorded_at: Wed, 13 Jul 2016 09:48:58 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test_yearly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test_yearly",
          "object": "plan",
          "amount": 10000,
          "created": 1460731910,
          "currency": "usd",
          "interval": "year",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Test Yearly Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Wed, 13 Jul 2016 09:48:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8oMiVdZzzNsbel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      stri[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8oMiVdZzzNsbel/subscriptions
    body:
      encoding: UTF-8
      string: plan=test_yearly&tax_percent=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8oMiw4ocpgluy2",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1468403340,
          "current_period_end": 1499939340,
          "current_period_start": 1468403340,
          "customer": "cus_8oMiVdZzzNsbel",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "test_yearly",
            "object": "plan",
            "amount": 10000,
            "created": 1460731910,
            "currency": "usd",
            "interval": "year",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Test Yearly Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1468403340,
          "status": "active",
          "tax_percent": 21.0,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Wed, 13 Jul 2016 09:49:01 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8oMiVdZzzNsbel&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_18WjzE2nHroS7mLXfRBMeiHJ",
              "object": "invoice",
              "amount_due": 12100,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_18WjzE2nHroS7mLXfkI6uvgt",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8oMiVdZzzNsbel",
              "date": 1468403340,
              "description": null,
              "discount": null,
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_8oMiw4ocpgluy2",
                    "object": "line_item",
                    "amount": 10000,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1468403340,
                      "end": 1499939340
                    },
                    "plan": {
                      "id": "test_yearly",
                      "object": "plan",
                      "amount": 10000,
                      "created": 1460731910,
                      "currency": "usd",
                      "interval": "year",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Test Yearly Plan",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_18WjzE2nHroS7mLXfRBMeiHJ/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1468403340,
              "period_start": 1468403340,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_8oMiw4ocpgluy2",
              "subtotal": 10000,
              "tax": 2100,
              "tax_percent": 21.0,
              "total": 12100,
              "webhooks_delivered_at": null
            }
          ],
          "has_more": false,
          "url": "/v1/invoices"
        }
  recorded_at: Wed, 13 Jul 2016 09:49:02 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_18WjzE2nHroS7mLXfRBMeiHJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_8oMiw4ocpgluy2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_18WjzE2nHroS7mLXfkI6uvgt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_18WjzE2nHroS7mLXfkI6uvgt",
          "object": "charge",
          "amount": 12100,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_18WjzE2nHroS7mLXYiE6eGWT",
          "captured": true,
          "created": 1468403340,
          "currency": "usd",
          "customer": "cus_8oMiVdZzzNsbel",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": "in_18WjzE2nHroS7mLXfRBMeiHJ",
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_18WjzE2nHroS7mLXfkI6uvgt/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_18WjzC2nHroS7mLX0dISEwPb",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_8oMiVdZzzNsbel",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 13 Jul 2016 09:49:04 GMT
recorded_with: VCR 2.9.2
