---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[vat_number]=NL123&metadata[accounting_id]=10001&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8H6Sy9BqQVmHWj",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1460731717,
          "currency": null,
          "default_source": "card_180YFN2nHroS7mLXpXAlI9Av",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "vat_number": "NL123",
            "accounting_id": "10001",
            "other": "random"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_180YFN2nHroS7mLXpXAlI9Av",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8H6Sy9BqQVmHWj",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8H6Sy9BqQVmHWj/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8H6Sy9BqQVmHWj/subscriptions"
          }
        }
  recorded_at: Fri, 15 Apr 2016 14:48:38 GMT
recorded_with: VCR 2.9.2
