---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[vat_number]=NL123&metadata[accounting_id]=10001&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_8H6S3p2kq8CpDY",
          "object": "customer",
          "account_balance": 0,
          "business_vat_id": null,
          "created": 1460731730,
          "currency": null,
          "default_source": "card_180YFa2nHroS7mLXmzVe8y4c",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "vat_number": "NL123",
            "accounting_id": "10001",
            "other": "random"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_180YFa2nHroS7mLXmzVe8y4c",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_8H6S3p2kq8CpDY",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_8H6S3p2kq8CpDY/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_8H6S3p2kq8CpDY/subscriptions"
          }
        }
  recorded_at: Fri, 15 Apr 2016 14:48:51 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test",
          "object": "plan",
          "amount": 1499,
          "created": 1406556583,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {},
          "name": "Test Plan",
          "statement_descriptor": null,
          "trial_period_days": null
        }
  recorded_at: Fri, 15 Apr 2016 14:48:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "object": "coupon",
          "amount_off": null,
          "created": 1410521489,
          "currency": null,
          "duration": "repeating",
          "duration_in_months": 3,
          "livemode": false,
          "max_redemptions": null,
          "metadata": {},
          "percent_off": 25,
          "redeem_by": null,
          "times_redeemed": 102,
          "valid": true
        }
  recorded_at: Fri, 15 Apr 2016 14:48:52 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8H6S3p2kq8CpDY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      stri[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_8H6S3p2kq8CpDY/subscriptions
    body:
      encoding: US-ASCII
      string: tax_percent=21&plan=test&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_8H6SzFH8st88Y4",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "current_period_end": 1463323734,
          "current_period_start": 1460731734,
          "customer": "cus_8H6S3p2kq8CpDY",
          "discount": {
            "object": "discount",
            "coupon": {
              "id": "25OFF",
              "object": "coupon",
              "amount_off": null,
              "created": 1410521489,
              "currency": null,
              "duration": "repeating",
              "duration_in_months": 3,
              "livemode": false,
              "max_redemptions": null,
              "metadata": {},
              "percent_off": 25,
              "redeem_by": null,
              "times_redeemed": 103,
              "valid": true
            },
            "customer": "cus_8H6S3p2kq8CpDY",
            "end": 1468594134,
            "start": 1460731734,
            "subscription": "sub_8H6SzFH8st88Y4"
          },
          "ended_at": null,
          "metadata": {},
          "plan": {
            "id": "test",
            "object": "plan",
            "amount": 1499,
            "created": 1406556583,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "Test Plan",
            "statement_descriptor": null,
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1460731734,
          "status": "active",
          "tax_percent": 21.0,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Fri, 15 Apr 2016 14:48:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_8H6S3p2kq8CpDY&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_180YFe2nHroS7mLXNcunH4WT",
              "object": "invoice",
              "amount_due": 1360,
              "application_fee": null,
              "attempt_count": 1,
              "attempted": true,
              "charge": "ch_180YFe2nHroS7mLXpcZV9Mis",
              "closed": true,
              "currency": "usd",
              "customer": "cus_8H6S3p2kq8CpDY",
              "date": 1460731734,
              "description": null,
              "discount": {
                "object": "discount",
                "coupon": {
                  "id": "25OFF",
                  "object": "coupon",
                  "amount_off": null,
                  "created": 1410521489,
                  "currency": null,
                  "duration": "repeating",
                  "duration_in_months": 3,
                  "livemode": false,
                  "max_redemptions": null,
                  "metadata": {},
                  "percent_off": 25,
                  "redeem_by": null,
                  "times_redeemed": 103,
                  "valid": true
                },
                "customer": "cus_8H6S3p2kq8CpDY",
                "end": 1468594134,
                "start": 1460731734,
                "subscription": "sub_8H6SzFH8st88Y4"
              },
              "ending_balance": 0,
              "forgiven": false,
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "sub_8H6SzFH8st88Y4",
                    "object": "line_item",
                    "amount": 1499,
                    "currency": "usd",
                    "description": null,
                    "discountable": true,
                    "livemode": false,
                    "metadata": {},
                    "period": {
                      "start": 1460731734,
                      "end": 1463323734
                    },
                    "plan": {
                      "id": "test",
                      "object": "plan",
                      "amount": 1499,
                      "created": 1406556583,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "name": "Test Plan",
                      "statement_descriptor": null,
                      "trial_period_days": null
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": null,
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_180YFe2nHroS7mLXNcunH4WT/lines"
              },
              "livemode": false,
              "metadata": {},
              "next_payment_attempt": null,
              "paid": true,
              "period_end": 1460731734,
              "period_start": 1460731734,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "subscription": "sub_8H6SzFH8st88Y4",
              "subtotal": 1499,
              "tax": 236,
              "tax_percent": 21.0,
              "total": 1360,
              "webhooks_delivered_at": null
            }
          ],
          "has_more": false,
          "url": "/v1/invoices"
        }
  recorded_at: Fri, 15 Apr 2016 14:48:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_180YFe2nHroS7mLXNcunH4WT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
  [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_8H6S3p2kq8CpDY/subscriptions/sub_8H6SzFH8st88Y4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_180YFe2nHroS7mLXpcZV9Mis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2015-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-10-16'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_180YFe2nHroS7mLXpcZV9Mis",
          "object": "charge",
          "amount": 1360,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_180YFe2nHroS7mLXd8mCDWZh",
          "captured": true,
          "created": 1460731734,
          "currency": "usd",
          "customer": "cus_8H6S3p2kq8CpDY",
          "description": null,
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": "in_180YFe2nHroS7mLXNcunH4WT",
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_180YFe2nHroS7mLXpcZV9Mis/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_180YFa2nHroS7mLXmzVe8y4c",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_8H6S3p2kq8CpDY",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 15 Apr 2016 14:48:59 GMT
recorded_with: VCR 2.9.2
