---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[vat_number]=NL123&metadata[accounting_id]=10001&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_Go1x4GOzjImXYV",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1582723572,
          "currency": null,
          "default_source": "card_1GGPtw2nHroS7mLXv3LendAh",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "23A2149D",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "vat_number": "NL123",
            "accounting_id": "10001",
            "other": "random"
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1GGPtw2nHroS7mLXv3LendAh",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_Go1x4GOzjImXYV",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_Go1x4GOzjImXYV/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Go1x4GOzjImXYV/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_Go1x4GOzjImXYV/tax_ids"
          }
        }
  recorded_at: Wed, 26 Feb 2020 13:26:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 1499,
          "amount_decimal": "1499",
          "billing_scheme": "per_unit",
          "created": 1481892395,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": null,
          "product": "prod_BUgTNAEhjAs7js",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Wed, 26 Feb 2020 13:26:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Go1x4GOzjImXYV/subscriptions
    body:
      encoding: UTF-8
      string: plan=test&trial_end=1582724573
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_Go1xFO9GatWkhO",
          "object": "subscription",
          "application_fee_percent": null,
          "billing_cycle_anchor": 1582724573,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1582723573,
          "current_period_end": 1582724573,
          "current_period_start": 1582723573,
          "customer": "cus_Go1x4GOzjImXYV",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_Go1xOntLvLis3L",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1582723574,
                "metadata": {
                },
                "plan": {
                  "id": "test",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 1499,
                  "amount_decimal": "1499",
                  "billing_scheme": "per_unit",
                  "created": 1481892395,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": null,
                  "product": "prod_BUgTNAEhjAs7js",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_Go1xFO9GatWkhO",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_Go1xFO9GatWkhO"
          },
          "latest_invoice": "in_1GGPtx2nHroS7mLXkRJ9I5JE",
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "test",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 1499,
            "amount_decimal": "1499",
            "billing_scheme": "per_unit",
            "created": 1481892395,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": null,
            "product": "prod_BUgTNAEhjAs7js",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1582723573,
          "status": "trialing",
          "tax_percent": null,
          "trial_end": 1582724573,
          "trial_start": 1582723573
        }
  recorded_at: Wed, 26 Feb 2020 13:26:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_Go1x4GOzjImXYV&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "in_1GGPtx2nHroS7mLXkRJ9I5JE",
              "object": "invoice",
              "account_country": "BE",
              "account_name": "PieSync",
              "amount_due": 0,
              "amount_paid": 0,
              "amount_remaining": 0,
              "application_fee_amount": null,
              "attempt_count": 0,
              "attempted": true,
              "auto_advance": false,
              "billing_reason": "subscription_create",
              "charge": null,
              "collection_method": "charge_automatically",
              "created": 1582723573,
              "currency": "usd",
              "custom_fields": null,
              "customer": "cus_Go1x4GOzjImXYV",
              "customer_address": null,
              "customer_email": null,
              "customer_name": null,
              "customer_phone": null,
              "customer_shipping": null,
              "customer_tax_exempt": "none",
              "customer_tax_ids": [

              ],
              "default_payment_method": null,
              "default_source": null,
              "default_tax_rates": [

              ],
              "description": null,
              "discount": null,
              "due_date": null,
              "ending_balance": 0,
              "footer": null,
              "hosted_invoice_url": "https://pay.stripe.com/invoice/invst_Y0fsSFm0TMdT4KdXtE29MhRkMe",
              "invoice_pdf": "https://pay.stripe.com/invoice/invst_Y0fsSFm0TMdT4KdXtE29MhRkMe/pdf",
              "lines": {
                "object": "list",
                "data": [
                  {
                    "id": "il_1GGPtx2nHroS7mLXSQ26HQ9X",
                    "object": "line_item",
                    "amount": 0,
                    "currency": "usd",
                    "description": "Trial period for Test Plan",
                    "discountable": true,
                    "livemode": false,
                    "metadata": {
                    },
                    "period": {
                      "end": 1582724573,
                      "start": 1582723573
                    },
                    "plan": {
                      "id": "test",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 1499,
                      "amount_decimal": "1499",
                      "billing_scheme": "per_unit",
                      "created": 1481892395,
                      "currency": "usd",
                      "interval": "month",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {
                      },
                      "nickname": null,
                      "product": "prod_BUgTNAEhjAs7js",
                      "tiers": null,
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "proration": false,
                    "quantity": 1,
                    "subscription": "sub_Go1xFO9GatWkhO",
                    "subscription_item": "si_Go1xOntLvLis3L",
                    "tax_amounts": [

                    ],
                    "tax_rates": [

                    ],
                    "type": "subscription"
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/invoices/in_1GGPtx2nHroS7mLXkRJ9I5JE/lines"
              },
              "livemode": false,
              "metadata": {
              },
              "next_payment_attempt": null,
              "number": "23A2149D-0001",
              "paid": true,
              "payment_intent": null,
              "period_end": 1582723573,
              "period_start": 1582723573,
              "post_payment_credit_notes_amount": 0,
              "pre_payment_credit_notes_amount": 0,
              "receipt_number": null,
              "starting_balance": 0,
              "statement_descriptor": null,
              "status": "paid",
              "status_transitions": {
                "finalized_at": 1582723573,
                "marked_uncollectible_at": null,
                "paid_at": 1582723573,
                "voided_at": null
              },
              "subscription": "sub_Go1xFO9GatWkhO",
              "subtotal": 0,
              "tax": null,
              "tax_percent": null,
              "total": 0,
              "total_tax_amounts": [

              ],
              "webhooks_delivered_at": 1582723574
            }
          ],
          "has_more": false,
          "url": "/v1/invoices"
        }
  recorded_at: Wed, 26 Feb 2020 13:26:15 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_1GGPtx2nHroS7mLXkRJ9I5JE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
  [...]
