---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[accounting_id]=10001&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1418659670,
          "id": "cus_5KglJQVEeCENyw",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "accounting_id": "10001",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_5KglJQVEeCENyw/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_5KglJQVEeCENyw/cards",
            "data": [
              {
                "id": "card_15A1Ny2nHroS7mLXNM4aLgRE",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "dynamic_last4": null,
                "customer": "cus_5KglJQVEeCENyw",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_15A1Ny2nHroS7mLXNM4aLgRE"
        }
  recorded_at: Mon, 15 Dec 2014 16:07:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_5KglJQVEeCENyw&amount=100&currency=usd
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_15A1Nz2nHroS7mLXuE2RRbv8",
          "date": 1418659671,
          "amount": 100,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_5KglJQVEeCENyw",
          "description": null,
          "metadata": {},
          "invoice": null,
          "subscription": null,
          "quantity": null,
          "plan": null
        }
  recorded_at: Mon, 15 Dec 2014 16:07:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices
    body:
      encoding: US-ASCII
      string: customer=cus_5KglJQVEeCENyw
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "date": 1418659673,
          "id": "in_15A1O12nHroS7mLXidZBT2tL",
          "period_start": 1418659673,
          "period_end": 1418659673,
          "lines": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/invoices/in_15A1O12nHroS7mLXidZBT2tL/lines",
            "data": [
              {
                "id": "ii_15A1Nz2nHroS7mLXuE2RRbv8",
                "object": "line_item",
                "type": "invoiceitem",
                "livemode": false,
                "amount": 100,
                "currency": "usd",
                "proration": false,
                "period": {
                  "start": 1418659671,
                  "end": 1418659671
                },
                "subscription": null,
                "quantity": null,
                "plan": null,
                "description": null,
                "metadata": {}
              }
            ],
            "count": 1
          },
          "subtotal": 100,
          "total": 100,
          "customer": "cus_5KglJQVEeCENyw",
          "object": "invoice",
          "attempted": false,
          "closed": false,
          "forgiven": false,
          "paid": false,
          "livemode": false,
          "attempt_count": 0,
          "amount_due": 100,
          "currency": "usd",
          "starting_balance": 0,
          "ending_balance": null,
          "next_payment_attempt": 1418663273,
          "webhooks_delivered_at": null,
          "charge": null,
          "discount": null,
          "application_fee": null,
          "subscription": null,
          "metadata": {},
          "statement_description": null,
          "description": null,
          "receipt_number": null
        }
  recorded_at: Mon, 15 Dec 2014 16:07:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_15A1O12nHroS7mLXidZBT2tL/pay
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices/in_15A1O12nHroS7mLXidZBT2tL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
     [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_15A1O32nHroS7mLXDunoO45q
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_15A1O32nHroS7mLXDunoO45q",
          "object": "charge",
          "created": 1418659675,
          "livemode": false,
          "paid": true,
          "amount": 100,
          "currency": "usd",
          "refunded": false,
          "captured": true,
          "card": {
            "id": "card_15A1Ny2nHroS7mLXNM4aLgRE",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2030,
            "fingerprint": "0K7oMWAQAFG7TEob",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "customer": "cus_5KglJQVEeCENyw",
            "type": "Visa"
          },
          "balance_transaction": "txn_15A1O32nHroS7mLX0z4hgYbj",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": "cus_5KglJQVEeCENyw",
          "invoice": "in_15A1O12nHroS7mLXidZBT2tL",
          "description": null,
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "refunds": []
        }
  recorded_at: Mon, 15 Dec 2014 16:07:57 GMT
recorded_with: VCR 2.9.2
