---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1411475447,
          "id": "cus_4pXWu4MxtZlLix",
          "livemode": false,
          "description": null,
          "email": null,
          "delinquent": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "subscriptions": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/customers/cus_4pXWu4MxtZlLix/subscriptions",
            "data": [],
            "count": 0
          },
          "discount": null,
          "account_balance": 0,
          "currency": null,
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_4pXWu4MxtZlLix/cards",
            "data": [
              {
                "id": "card_14fsRP2nHroS7mLXsYBvxXGL",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_4pXWu4MxtZlLix",
                "type": "Visa"
              }
            ],
            "count": 1
          },
          "default_card": "card_14fsRP2nHroS7mLXsYBvxXGL"
        }
  recorded_at: Tue, 23 Sep 2014 12:30:47 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/rounding
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "interval": "month",
          "name": "Test Plan",
          "created": 1411399343,
          "amount": 903,
          "currency": "usd",
          "id": "rounding",
          "object": "plan",
          "livemode": false,
          "interval_count": 1,
          "trial_period_days": null,
          "metadata": {},
          "statement_description": null
        }
  recorded_at: Tue, 23 Sep 2014 12:30:48 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/coupons/25OFF
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "25OFF",
          "created": 1410521489,
          "percent_off": 25,
          "amount_off": null,
          "currency": null,
          "object": "coupon",
          "livemode": false,
          "duration": "repeating",
          "redeem_by": null,
          "max_redemptions": null,
          "times_redeemed": 32,
          "duration_in_months": 3,
          "valid": true,
          "metadata": {}
        }
  recorded_at: Tue, 23 Sep 2014 12:30:49 GMT
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_4pXWu4MxtZlLix
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "ob[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_102w3g2nHroS7mLX",
          "email": "admin@piesync.com",
          "statement_descriptor": "PIESYNC.COM",
          "display_name": "Piesync",
          "timezone": "Etc/UTC",
          "details_submitted": true,
          "charge_enabled": true,
          "transfer_enabled": true,
          "currencies_supported": [
            "usd",
            "aed",
            "afn",
            "all",
            "amd",
            "ang",
            "aoa",
            "ars",
            "aud",
            "awg",
            "azn",
            "bam",
            "bbd",
            "bdt",
            "bgn",
            "bif",
            "bmd",
            "bnd",
            "bob",
            "brl",
            "bsd",
            "bwp",
            "bzd",
            "cad",
            "cdf",
            "chf",
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoiceitems
    body:
      encoding: US-ASCII
      string: customer=cus_4pXWu4MxtZlLix&amount=190&currency=usd&description=VAT%20(21%25)&metadata[type]=vat&metadata[amount]=190&metadata[rate]=21
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "invoiceitem",
          "id": "ii_14fsRU2nHroS7mLXc7GcSHx1",
          "date": 1411475452,
          "amount": 190,
          "livemode": false,
          "proration": false,
          "currency": "usd",
          "customer": "cus_4pXWu4MxtZlLix",
          "description": "VAT (21%)",
          "metadata": {
            "type": "vat",
            "amount": "190",
            "rate": "21"
          },
          "invoice": null,
          "subscription": null
        }
  recorded_at: Tue, 23 Sep 2014 12:30:52 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_4pXWu4MxtZlLix/subscriptions
    body:
      encoding: US-ASCII
      string: plan=rounding&coupon=25OFF
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_4pXWyrDBPmHTLj",
          "plan": {
            "interval": "month",
            "name": "Test Plan",
            "created": 1411399343,
            "amount": 903,
            "currency": "usd",
            "id": "rounding",
            "object": "plan",
            "livemode": false,
            "interval_count": 1,
            "trial_period_days": null,
            "metadata": {},
            "statement_description": null
          },
          "object": "subscription",
          "start": 1411475452,
          "status": "active",
          "customer": "cus_4pXWu4MxtZlLix",
          "cancel_at_period_end": false,
          "current_period_start": 1411475452,
          "current_period_end": 1414067452,
          "ended_at": null,
          "trial_start": null,
          "trial_end": null,
          "canceled_at": null,
          "quantity": 1,
          "application_fee_percent": null,
          "discount": {
            "coupon": {
              "id": "25OFF",
              "created": 1410521489,
              "percent_off": 25,
              "amount_off": null,
              "currency": null,
              "object": "coupon",
              "livemode": false,
              "duration": "repeating",
              "redeem_by": null,
              "max_redemptions": null,
              "times_redeemed": 33,
              "duration_in_months": 3,
              "valid": true,
              "metadata": {}
            },
            "start": 1411475452,
            "object": "discount",
            "customer": "cus_4pXWu4MxtZlLix",
            "subscription": "sub_4pXWyrDBPmHTLj",
            "end": 1419337852
          },
          "metadata": {}
        }
  recorded_at: Tue, 23 Sep 2014 12:30:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/invoices?customer=cus_4pXWu4MxtZlLix&limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-03-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "has_more": false,
          "url": "/v1/invoices",
          "data": [
            {
              "date": 1411475452,
              "id": "in_14fsRU2nHroS7mLXiWDGALzE",
              "period_start": 1411475452,
              "period_end": 1411475452,
              "lines": {
                "object": "list",
                "total_count": 2,
                "has_more": false,
                "url": "/v1/invoices/in_14fsRU2nHroS7mLXiWDGALzE/lines",
                "data": [
                  {
                    "id": "ii_14fsRU2nHroS7mLXc7GcSHx1",
                    "object": "line_item",
                    "type": "invoiceitem",
                    "livemode": false,
                    "amount": 190,
                    "currency": "usd",
                    "proration": false,
                    "period": {
                      "start": 1411475452,
                      "end": 1411475452
                    },
                    "quantity": null,
                    "plan": null,
                    "description": "VAT (21%)",
                    "metadata": {
                      "type": "vat",
                      "amount": "190",
                      "rate": "21"
                    }
                  },
                  {
                    "id": "sub_4pXWyrDBPmHTLj",
               [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/invoices/in_14fsRU2nHroS7mLXiWDGALzE
    body:
      encoding: US-ASCII
      string: metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      [...]
[...]
