---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=30&card[cvc]=222&metadata[country_code]=NL&metadata[vat_registered]=false&metadata[other]=random
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_GtZdY3ruMjoZP4",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1584002012,
          "currency": null,
          "default_source": "card_1GLmTw2nHroS7mLXvC48t6Ub",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "439E73F6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
            "country_code": "NL",
            "vat_registered": "false",
            "other": "random"
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1GLmTw2nHroS7mLXvC48t6Ub",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_GtZdY3ruMjoZP4",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2030,
                "fingerprint": "0K7oMWAQAFG7TEob",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_GtZdY3ruMjoZP4/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_GtZdY3ruMjoZP4/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_GtZdY3ruMjoZP4/tax_ids"
          }
        }
  recorded_at: Thu, 12 Mar 2020 08:33:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/plans/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "test",
          "object": "plan",
          "active": true,
          "aggregate_usage": null,
          "amount": 1499,
          "amount_decimal": "1499",
          "billing_scheme": "per_unit",
          "created": 1481892395,
          "currency": "usd",
          "interval": "month",
          "interval_count": 1,
          "livemode": false,
          "metadata": {
          },
          "nickname": null,
          "product": "prod_BUgTNAEhjAs7js",
          "tiers": null,
          "tiers_mode": null,
          "transform_usage": null,
          "trial_period_days": null,
          "usage_type": "licensed"
        }
  recorded_at: Thu, 12 Mar 2020 08:33:33 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_GtZdY3ruMjoZP4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      stri[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_GtZdY3ruMjoZP4&tax_percent=21&plan=test&trial_from_plan=true
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_GtZdtcWAtnmSVi",
          "object": "subscription",
          "application_fee_percent": null,
          "billing_cycle_anchor": 1584002013,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1584002013,
          "current_period_end": 1586680413,
          "current_period_start": 1584002013,
          "customer": "cus_GtZdY3ruMjoZP4",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [
            {
              "id": "txr_1CLEj32nHroS7mLXMihnD3UR",
              "object": "tax_rate",
              "active": true,
              "created": 1524766909,
              "description": null,
              "display_name": "Tax",
              "inclusive": false,
              "jurisdiction": null,
              "livemode": false,
              "metadata": {
              },
              "percentage": 21.0
            }
          ],
          "discount": null,
          "ended_at": null,
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_GtZdk3wJd0CymO",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1584002014,
                "metadata": {
                },
                "plan": {
                  "id": "test",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 1499,
                  "amount_decimal": "1499",
                  "billing_scheme": "per_unit",
                  "created": 1481892395,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "nickname": null,
                  "product": "prod_BUgTNAEhjAs7js",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "quantity": 1,
                "subscription": "sub_GtZdtcWAtnmSVi",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_GtZdtcWAtnmSVi"
          },
          "latest_invoice": "in_1GLmTy2nHroS7mLX5B4g77It",
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "test",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 1499,
            "amount_decimal": "1499",
            "billing_scheme": "per_unit",
            "created": 1481892395,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "nickname": null,
            "product": "prod_BUgTNAEhjAs7js",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1584002013,
          "status": "active",
          "tax_percent": 21.0,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Thu, 12 Mar 2020 08:33:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_GtZdY3ruMjoZP4
    body:
      encoding: UTF-8
      string: metadata[country_code]=DE&metadata[vat_number]=DE1234&metadata[vat_registered]=false
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_GtZdY3ruMjoZP4",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1584002012,
          "currency": "usd",
          "default_source": "card_1GLmTw2nHroS7mLXvC48t6Ub",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": null,
          "invoice_prefix": "439E73F6",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
            "country_code": "DE",
            "vat_registered": "false",
            "other": "random",
            "vat_number": "DE1234"
          },
          "name": null,
          "next_invoice_sequence": 2,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1GLmTw2nHroS7mLXvC48t6Ub",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions?customer=cus_GtZdY3ruMjoZP4&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      enc[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions/sub_GtZdtcWAtnmSVi
    body:
      encoding: UTF-8
      string: tax_percent=19
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2019-12-03'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2019-12-03'
    body:
      encoding: UT[...]
[...]
