---
http_interactions:
- request:
    method: get
    uri: https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
      Last-Modified:
      - Thu, 11 Feb 2021 14:55:10 GMT
      X-Cdn:
      - '1'
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<gesmes:Envelope xmlns:gesmes=\"http://www.gesmes.org/xml/2002-08-01\"
        xmlns=\"http://www.ecb.int/vocabulary/2002-08-01/eurofxref\">\n\t<gesmes:subject>Reference
        rates</gesmes:subject>\n\t<gesmes:Sender>\n\t\t<gesmes:name>European Central
        Bank</gesmes:name>\n\t</gesmes:Sender>\n\t<Cube>\n\t\t<Cube time='2021-02-11'>\n\t\t\t<Cube
        currency='USD' rate='1.2147'/>\n\t\t\t<Cube currency='JPY' rate='127.12'/>\n\t\t\t<Cube
        currency='BGN' rate='1.9558'/>\n\t\t\t<Cube currency='CZK' rate='25.772'/>\n\t\t\t<Cube
        currency='DKK' rate='7.4380'/>\n\t\t\t<Cube currency='GBP' rate='0.87755'/>\n\t\t\t<Cube
        currency='HUF' rate='357.18'/>\n\t\t\t<Cube currency='PLN' rate='4.4975'/>\n\t\t\t<Cube
        currency='RON' rate='4.8745'/>\n\t\t\t<Cube currency='SEK' rate[...]
